@charset "UTF-8";
@use "../variables" as *;

// ---------------------------------------------
//  トップ専用
// ---------------------------------------------

.mv {
  img {
    width: 100%;
  }
}

.catch {
  h2 {
    position: relative;
    width: fit-content;
    padding: 0 80px;
    margin: 0 auto 60px;
    font-size: var(--fz60);
    font-weight: 900;
    color: #f00;
    text-align: center;

    &::before,
    &::after {
      position: absolute;
      display: inline-block;
      width: 75px;
      height: 85px;
      content: "";
    }

    &::before {
      top: -30px;
      left: 0;
      background: url(../../cleaninglp/img/case_star01.png) no-repeat center center / contain;
    }

    &::after {
      right: 0;
      bottom: -30px;
      background: url(../../cleaninglp/img/case_star02.png) no-repeat center center / contain;
    }
  }

  // .catch--inner
  &--inner {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    justify-content: center;
    margin-bottom: 60px;

    +img {
      display: block;
      margin: 0 auto 60px;
    }
  }

  // .catch--item
  &--item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 565px;

    > span {
      display: block;
      width: min(430px, 100%);
      font-size: var(--fz35);
      font-weight: 800;
      color: #fff;
      text-align: center;
      background: #00479d;
    }

    img {
      +p {
        font-size: var(--fz25);
        font-weight: 900;
      }
    }

    &:last-child {
      img {
        margin-bottom: 40px;
      }
    }

    @include max-mq {
      img {
        margin-bottom: 15px;
      }
    }
  }

  // .catch--price
  &--price {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 25px;
    font-size: var(--fz120);
    font-weight: 900;
    line-height: 1.2;
    color: #f00;
    text-align: center;
    background: linear-gradient(to bottom, transparent 0%, transparent 70%, #fff100 70%, #fff100 100%);
    -webkit-text-stroke: 10px #fff;
    paint-order: stroke fill;

    @include max-mq {
      padding: 0 15px;
      font-size: var(--fz70);
    }
  }

  // .catch--period
  &--period {
    font-size: var(--fz70);

    @include max-mq {
      font-size: var(--fz40);
    }
  }

  // .catch--unit
  &--unit {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 25px;
    line-height: 1.3;

    @include max-mq {
      margin-top: 10px;
    }
  }

  // .catch--jpy
  &--jpy {
    font-size: var(--fz55);

    @include max-mq {
      font-size: var(--fz35);
    }
  }

  // .catch--tax
  &--tax {
    font-size: var(--fz30);

    @include max-mq {
      font-size: var(--fz20);
    }
  }

  // .catch--txt
  &--txt {
    margin-bottom: 30px;
    font-size: var(--fz45);
    font-weight: 900;
    color: #00479d;
    text-align: center;

    +p {
      font-size: var(--fz30);
      font-weight: 800;
      text-align: center;
    }

    @include max-mq {
      margin-bottom: 15px;
      font-size: var(--fz30);

      +p {
        font-size: var(--fz25);
      }
    }
  }

  @include max-mq {
    h2 {
      padding: 0 12%;
      font-size: var(--fz40);

      &::before,
      &::after {
        width: 45px;
        height: 60px;
      }
    }
  }
}

.lead {
  color: #fff;
  background: #1352c3;

  h2 {
    margin-bottom: 30px;
    text-align: center;
  }

  // .lead--inner
  &--inner {
    max-width: 1000px;
    margin: 0 auto 30px;
    background: #fff;

    h3 {
      padding: 10px 30px;
      font-size: var(--fz30);
      font-weight: 800;
      text-align: center;
      background: #002958;
    }

    @include max-mq {
      h3 {
        font-size: var(--fz25);
      }
    }
  }

  // .lead--txt
  &--txt {
    padding: 60px;
    box-shadow: 0 0 20px 0 #fff;

    p {
      margin-bottom: 30px;
      font-size: var(--fz30);
      font-weight: 800;
      line-height: 1.8;
      color: #02479d;
      text-align: center;
    }


    span {
      padding: 0 10px;
      font-size: var(--fz35);
      font-weight: 800;
      color: #f00;
      background: linear-gradient(to bottom, transparent 0%, transparent 70%, #fff100 70%, #fff100 100%);
    }

    @include max-mq {
      padding: 30px;
    }
  }

  // .lead--supplement
  &--supplement {
    margin-bottom: 15px;
    font-size: var(--fz20);
    font-weight: 500;
    text-align: center;

    &.-sm {
      font-size: var(--fz14);
    }
  }

  @include max-mq {
    .header--btns {
      flex-direction: column;
      align-items: center;
    }
  }
}

.sign {
  padding: 120px 0 100px;

  // .sign--catch
  &--catch {
    display: block;
    width: 380px;
    padding: 15px 0;
    margin: 0 auto 15px;
    font-size: var(--fz25);
    font-weight: 600;
    color: #fff;
    text-align: center;
    background: #f06;
    border-radius: 1000px;

    @include max-mq {
      width: fit-content;
      padding: 10px 15px;
      font-size: var(--fz20);
    }
  }

  h2 {
    margin-bottom: 60px;
    font-size: var(--fz40);
    font-weight: 800;
    color: #004ba6;
    text-align: center;

    span {
      padding: 0 10px;
      font-size: var(--fz45);
      font-weight: 800;
      color: #004ba6;
      background: linear-gradient(to bottom, transparent 0%, transparent 70%, #fff100 70%, #fff100 100%);
    }
  }

  // .sign--list
  &--list {
    position: relative;
    box-sizing: border-box;
    max-width: 1000px;
    padding: 40px;
    margin: auto;
    font-size: var(--fz23);
    background: #fff;
    box-shadow: 0 3px 7px 0 rgb(0 0 0 / 30%);

    li {
      position: relative;
      padding: 0 0 5px 40px;
      margin-bottom: 15px;
      border-bottom: 1px solid #b5b5b5;

      &::before {
        position: absolute;
        top: 47%;
        left: 0;
        display: inline-block;
        width: 27px;
        height: 27px;
        content: "";
        background: url(../../cleaninglp/img/icon_check.png) no-repeat center center /contain;
        transform: translateY(-50%);
      }
    }

    span {
      color: #f00;
    }

    &::before {
      position: absolute;
      right: -50px;
      bottom: -100px;
      z-index: 1;
      display: inline-block;
      width: 247px;
      height: 227px;
      content: "";
      background: url(../../cleaninglp/img/sign_person.png) no-repeat center center / contain;
    }

    @media (width <= 1280px) {
      &::before {
        right: auto;
        bottom: -200px;
        left: 50%;
        width: 247px;
        height: 227px;
        transform: translateX(-50%);
      }
    }

    @include max-mq {
      padding: 25px;
      font-size: var(--fz18);

      li {
        padding: 0 0 5px 30px;

        &::before {
          width: 20px;
          height: 20px;
        }
      }

      &::before {
        bottom: -100px;
        width: 160px;
        height: 140px;
      }
    }
  }

  @media (width <= 1280px) {
    padding: 120px 0 200px;
  }

  @include max-mq {
    padding: 80px 0 100px;

    h2 {
      margin-bottom: 40px;
      font-size: var(--fz30);

      span {
        font-size: var(--fz30);
      }
    }
  }
}

.cvarea {
  padding: 80px 0 0;

  .contents {
    position: relative;
  }

  .header--btns {
    position: absolute;
    bottom: 16%;
    left: 8%;
  }

  // cvarea--bg
  &--bg {
    width: 100%;

    @include max-mq {
      width: 100%;
      margin-bottom: 30px;
    }
  }

  @media (width <= 1280px) {
    .header--btns {
      bottom: 10%;
      left: 5%;
    }
  }

  @media (width <= 1024px) {
    .header--btns {
      bottom: 0%;
    }
  }

  @include max-mq {
    padding: 60px 0;

    .header--btns {
      position: relative;
      left: auto;
      flex-direction: column;
      align-items: center;
    }
  }
}

.price {
  h2 {
    margin-bottom: 60px;
    font-size: var(--fz40);
    font-weight: 900;
    color: #004ba6;
    text-align: center;

    img {
      vertical-align: baseline;
    }
  }

  .sign--catch {
    margin: 0 auto 40px;
  }

  // .price--img
  &--img {
    @include max-mq {
      width: 100%;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;

      img {
        display: block;
        width: 180%;
        max-width: none;
      }
    }
  }

  @include max-mq {
    h2 {
      margin-bottom: 40px;
      font-size: var(--fz30);

      img {
        width: 70%;
      }
    }

    .sign--catch {
      margin: 0 auto 15px;
    }
  }
}

.merit {
  h2 {
    margin-bottom: 60px;
    font-size: var(--fz40);
    font-weight: 900;
    line-height: 1.3;
    color: #1543b3;
    text-align: center;
    filter: drop-shadow(4px 4px 4px rgb(0 41 108 / 30%));
    -webkit-text-stroke: 8px #fff;
    paint-order: stroke fill;

    span {
      font-size: var(--fz60);
      color: #ff9000;
    }
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    counter-reset: num; /* カウンターを初期化 */
  }

  li {
    position: relative;
    counter-increment: num;

    &::before {
      position: absolute;
      top: 0;
      left: 15px;
      font-size: var(--fz45);
      font-weight: 900;
      color: #00a2ff;
      content: counter(num, decimal-leading-zero);
      filter: drop-shadow(4px 4px 4px rgb(0 41 108 / 30%));
      -webkit-text-stroke: 8px #fff;
      paint-order: stroke fill;
    }
  }

  p {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    font-size: 35px;
    font-weight: 900;
    color: #fff;
    text-align: center;
    filter: drop-shadow(4px 4px 4px rgb(0 41 108 / 30%));
    transform: translate(-50%, -50%);
    -webkit-text-stroke: 8px #1543b3;
    paint-order: stroke fill;
  }

  @include max-mq {
    h2 {
      font-size: var(--fz28);

      span {
        font-size: var(--fz50);
      }
    }

    p {
      font-size: var(--fz30);
    }

    img {
      object-fit: cover;
      width: 250px;
      height: 250px;
      aspect-ratio: 1 / 1;
    }
  }
}

.select {
  h2 {
    margin-bottom: 60px;
    font-size: var(--fz40);
    font-weight: 900;
    color: #004ba6;
    text-align: center;

    img {
      vertical-align: baseline;
    }

    span {
      display: inline-block;
      width: 80px;
      height: 80px;
      font-size: var(--fz65);
      line-height: 1.2;
      color: #fff700;
      text-align: center;
      background: #004ba6;
      border-radius: 50%;
    }
  }

  ol {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 30px;
    counter-reset: num;

    img {
      width: 100%;
      object-fit: cover;
    }

    p {
      padding: 15px;
    }
  }

  h3 {
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 15px;
    font-size: var(--fz25);
    font-weight: 800;
    color: #fff;
    counter-increment: num;
    background: #004ba6;

    &::before {
      position: relative;
      top: -3px;
      padding: 8px;
      margin-right: 10px;
      font-size: var(--fz16);
      font-weight: 900;
      color: #004ba6;
      content: "POINT" counter(num, decimal-leading-zero);
      background: #fff700;
      border-radius: 5px;
    }
  }

  .contents {
    width: min(900px, 100%);
  }

  @include max-mq {
    h2 {
      font-size: var(--fz35);

      img {
        width: 80%;
      }

      span {
        width: 60px;
        height: 60px;
        font-size: var(--fz50);
        line-height: 1.2;
      }
    }

    ol {
      grid-template-columns: 1fr;

      p {
        padding: 15px 0 0;
      }
    }

    h3 {
      padding: 15px;
      font-size: var(--fz23);

      &::before {
        font-size: var(--fz14);
      }
    }
  }
}

.case {
  background: #fffee4;

  .sign--catch {
    width: fit-content;
    padding: 15px 30px;
    border: 3px solid #fff;
  }

  // .case--item
  &--item {
    max-width: 1150px;
    margin: auto;
    background: #fff;
    box-shadow: 0 3px 7px 0 rgb(0 0 0 / 40%);

    &:not(:last-of-type) {
      margin-bottom: 80px;
    }

    h3 {
      box-sizing: border-box;
      padding: 15px;
      margin-bottom: 30px;
      font-size: var(--fz30);
      font-weight: 800;
      color: #fff700;
      text-align: center;
      background: #0675f3;
    }

    h3 + p {
      margin-bottom: 40px;
      font-size: var(--fz20);
      text-align: center;
    }

    @include max-mq {
      h3 {
        font-size: var(--fz25);
      }
    }
  }

  // .case--inner
  &--inner {
    width: min(1100px, 100%);
    padding: 0 min(4vw, 25px) 60px;
    margin: auto;

    > p {
      margin-bottom: 40px;
      text-align: center;
    }

    @include max-mq {
      padding: 0 min(4vw, 25px) 20px;
    }
  }

  // .case--comparison
  &--comparison {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    gap: 80px;

    p {
      font-size: var(--fz23);
      text-align: center;
    }

    &::before {
      position: absolute;
      top: 50%;
      left: 50%;
      content: "";
      border: 3rem solid transparent;
      border-left: 5rem solid #004ba6;
      transform: translate(-25%, -50%);
    }

    @include max-mq {
      grid-template-columns: 1fr;

      p {
        font-size: var(--fz20);
      }

      &::before {
        border: 2rem solid transparent;
        border-top: 3rem solid #004ba6;
        transform: translate(-50%, -30%);
      }
    }
  }

  // .case--before
  &--before {
    box-sizing: border-box;
    padding: 31px;
    margin: auto;
    background: #fff;
    border: 4px solid #007bf8;
    box-shadow: 6.293px 7.771px 25px 0 rgb(111 52 0 / 40%);

    p {
      padding: 5px 0;
      color: #fff;
      background: #007bf8;
      border-radius: 1000px;
    }

    img {
      margin-bottom: 15px;
    }

    @include max-mq {
      padding: 20px;
    }
  }

  // .case--after
  &--after {
    position: relative;
    box-sizing: border-box;
    padding: 31px;
    margin: auto;
    background: #fff;
    border: 4px solid #f06;
    box-shadow: 6.293px 7.771px 25px 0 rgb(111 52 0 / 40%);

    p {
      padding: 5px 0;
      color: #fff;
      background: #f06;
      border-radius: 1000px;
    }

    img {
      margin-bottom: 15px;
    }

    &::before,
    &::after {
      position: absolute;
      display: inline-block;
      width: 122px;
      height: 134px;
      content: "";
    }

    &::before, {
      top: 0;
      left: 0;
      background: url(../../cleaninglp/img/case_star01.png) no-repeat center center/contain;
    }

    &::after {
      right: 0;
      bottom: 50px;
      background: url(../../cleaninglp/img/case_star02.png) no-repeat center center/contain;
    }

    @include max-mq {
      padding: 20px;

      &::before,
      &::after {
        width: 100px;
        height: 110px;
      }
    }
  }

  @include max-mq {
    .sign--catch {
      padding: 10px 20px;
      font-size: var(--fz18);
    }
  }
}

.voice {
  // .voice--inner
  &--inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

    @include max-mq {
      grid-template-columns: 1fr;
    }
  }

  // .voice--item
  &--item {
    box-sizing: border-box;
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 3;
    padding: 30px;
    background: #fff;
    border: 4px solid #004ba6;
    box-shadow: 6.293px 7.771px 25px 0 rgb(111 52 0 / 40%);

    h3 {
      font-size: var(--fz20);
      font-weight: 800;
      color: #004ba6;
      text-align: center;
    }

    span {
      display: block;
      font-size: var(--fz14);
      font-weight: 800;
      text-align: center;
    }

    p {
      margin-top: -15px;
    }

    img {
      display: block;
      margin: auto;
    }

    @include tb-mq {
      padding: 15px;
    }
  }
}

.flow {
  span {
    box-sizing: border-box;
    display: block;
    padding: 10px 0;
    font-size: var(--fz18);
    color: #fff;
    text-align: center;
    background: #0675f3;
  }

  dt {
    font-size: var(--fz20);
    font-weight: 800;
    color: #004ba6;
  }

  ol {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 15px;
  }

  li {
    background: #fff;
    box-shadow: 6.293px 7.771px 25px 0 rgb(0 42 93 / 40%);
  }

  div {
    padding: 14px;
    text-align: center;
  }

  img {
    width: 100%;
    margin-bottom: 15px;
  }

  @include max-mq {
    ol {
      grid-template-columns: 1fr;
    }

    img {
      width: 100%;
    }
  }
}

.use {
  .ttl {
    color: #fff;
    border-bottom: 1px solid #fff;
  }

  ol {
    max-width: 1000px;
    margin: auto; /* カウンターを初期化 */
    counter-reset: num;
  }

  li {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    justify-content: center;
    padding: 30px;
    background: #fff;

    &:not(:last-child) {
      margin-bottom: 60px;
    }
  }

  h3 {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: 15px;
    margin-bottom: 15px;
    font-size: var(--fz25);
    font-weight: 800;
    color: #007bf8;
    counter-increment: num;
    border-bottom: 1px solid #007bf8;

    &::before {
      padding: 8px;
      margin-right: 10px;
      font-size: var(--fz20);
      font-weight: 900;
      color: #fff;
      content: "STEP" counter(num, decimal-leading-zero);
      background: #007bf8;
      border-radius: 5px;
    }
  }

  // .use--txt
  &--txt {
    width: 65%;

    @include max-mq {
      width: 100%;
    }
  }

  @include max-mq {
    h3 {
      font-size: var(--fz20);

      &::before {
        padding: 5px 8px;
        font-size: var(--fz16);
      }

      + img {
        display: block;
        width: 100%;
        height: 200px;
        margin: 0 auto 15px;
        object-fit: cover;
      }
    }

    li {
      gap: 15px;
      padding: 15px;
    }
  }
}

.region {
  img {
    display: block;
    margin: 0 auto 60px;
  }

  dl {
    div {
      padding: 40px 30px;
      border: 4px solid #004ba6;
      box-shadow: 6.293px 7.771px 25px 0 rgb(0 42 93 / 40%);

      &:not(:last-child) {
        margin-bottom: 40px;
      }
    }
  }

  dt {
    position: relative;
    width: 200px;
    padding: 8px 0;
    padding-left: 15px;
    margin: 0 auto 15px;
    font-size: var(--fz23);
    color: #fff;
    text-align: center;
    background: #007bf8;
    border-radius: 1000px;

    &::before {
      position: absolute;
      top: 50%;
      left: 15px;
      width: 18px;
      height: 26px;
      content: "";
      background: url(../../cleaninglp/img/icon_map.png) no-repeat center center / contain;
      transform: translateY(-50%);
    }
  }

  dd {
    line-height: 1.8;
  }

  @include max-mq {
    dl {
      div {
        padding: 30px;
      }
    }

    dt {
      width: 160px;
      margin: 0 auto 15px;
      font-size: var(--fz20);
    }
  }
}

.faq {
  dt {
    padding: 30px;
    font-size: var(--fz20);
    font-weight: 800;
    color: #fff;
    background: #007bf8;

    &::before {
      font-size: var(--fz23);
      content: "Q.";
    }
  }

  dd {
    padding: 30px 30px 30px 70px;
    text-indent: -23px;
    background: #fff;

    &::before {
      font-size: var(--fz20);
      content: "A.";
    }
  }

  dl {
    div {
      &:nth-of-type(4) {
        ul {
          margin-top: 10px;
          line-height: 1.8;
          text-indent: 0;
        }
      }
    }
  }

  div {
    &:not(:last-of-type) {
      margin-bottom: 40px;
    }
  }

  @include max-mq {
    dt {
      padding: 15px;
      padding-left: 35px;
      font-size: var(--fz20);
      text-indent: -20px;

      &::before {
        font-size: var(--fz20);
      }
    }

    dd {
      padding: 20px 20px 20px 30px;
      text-indent: -15px;
    }
  }
}
