@charset "UTF-8";
@use "../variables" as *;

// ---------------------------------------------
//  トップ専用
// ---------------------------------------------

.mv {
  img {
    width: 100%;
  }
}

.issue {
  position: relative;
  padding: 120px 0;
  background: #eee;

  h2 {
    margin-bottom: 40px;
    font-size: var(--fz75);
    font-weight: 900;
    color: #001f52;
    text-align: center;

    strong {
      padding: 0 15px;
      background: linear-gradient(to bottom, transparent 0%, transparent 70%, #f0ff00 70%, #f0ff00 100%);
    }

    b {
      color: #f00;
    }

    span {
      position: relative;

      &::before {
        position: absolute;
        top: -5px;
        right: 0;
        left: 0;
        padding-top: 25px;
        margin: auto;
        content: "";
        background: radial-gradient(circle 15px, #f00 50%, transparent 50%);
      }
    }
  }

  p {
    margin-bottom: 30px;
    font-size: var(--fz30);
    font-weight: 800;
    text-align: center;

    span {
      color: #ff7200;
    }
  }

  // .issue--img
  &--img {
    display: block;
    margin: 0 auto;
  }

  // .issue--inner
  &--inner {
    width: 100%;
    max-width: 1100px;
    padding: 40px;
    margin: auto;
    background: #fff;
    border-radius: 15px;

    img {
      display: block;
      margin: 0 auto 30px;
    }

    li {
      position: relative;
      width: 100%;
      max-width: 900px;
      padding: 15px 15px 15px 50px;
      margin: auto;
      margin-bottom: 5px;
      font-size: var(--fz30);
      font-weight: 800;
      background-image: radial-gradient(#333 30%, transparent 55%);
      background-repeat: repeat-x;
      background-position: bottom;
      background-size: 7px 7px;

      &::before {
        position: absolute;
        top: 53%;
        left: 0;
        display: inline-block;
        width: 35px;
        height: 35px;
        content: "";
        background: url(../img/issue_check.png) no-repeat center / 100%;
        transform: translateY(-50%);
      }
    }

    @include max-mq {
      padding: 30px;

      li {
        padding: 15px 15px 15px 30px;
        font-size: var(--fz20);

        &::before {
          width: 20px;
          height: 20px;
        }
      }
    }
  }

  &::after {
    position: absolute;
    bottom: -50px;
    left: 50%;
    z-index: 1;
    display: inline-block;
    width: 185px;
    height: 92px;
    content: "";
    background: url(../img/arrow_blue.png) no-repeat center / 100%;
    transform: translateX(-50%);
  }

  @include tb-mq {
    h2 {
      font-size: var(--fz45);

      span {
        &::before {
          padding-top: 15px;
          background: radial-gradient(circle 12px, #f00 50%, transparent 50%);
        }
      }
    }

    p {
      font-size: var(--fz25);
    }
  }

  @include max-mq {
    padding: 100px 0 60px;

    &::after {
      width: 100px;
    }
  }
}

.solution {
  position: relative;
  background: url(../img/solution_bg.jpg) no-repeat center /cover;

  h2 {
    position: absolute;
    top: -60px;
    left: 50%;
    width: 100%;
    max-width: 1194px;
    transform: translateX(-50%);
  }


  // .solution--lead
  &--lead {
    margin-bottom: 60px;
    font-size: var(--fz60);
    font-weight: 800;
    color: #001f52;
    text-align: center;

    @include tb-mq {
      margin-bottom: 30px;
      font-size: var(--fz40);

      b {
        display: block;
        margin-bottom: 15px;
      }
    }
  }

  // .solution--item
  &--item {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    margin-right: 15px;

    span {
      padding: 0 25px 7px;
      font-size: var(--fz50);
      color: #fff;
      background: #001f52;
      border-radius: 10px;
    }

    @include max-mq {
      span {
        width: 70%;
        padding: 5px 25px 7px;
        font-size: var(--fz35);
      }
    }
  }

  // .solution--strong
  &--strong {
    margin-bottom: 60px;
    font-size: var(--fz65);
    font-weight: 900;
    color: #001f52;
    text-align: center;

    strong {
      padding: 0 15px;
      color: #ff004e;
      background: linear-gradient(to bottom, transparent 0%, transparent 70%, #f0ff00 70%, #f0ff00 100%);
    }

    @include max-mq {
      font-size: var(--fz45);
    }
  }

  // .solution--guide
  &--guide {
    text-align: center;

    div {
      position: relative;
      width: fit-content;
      margin: 0 auto 30px;

      &::before,
      &::after {
        position: absolute;
        display: inline-block;
        content: "";
      }

      &::before {
        top: 85px;
        left: -210px;
        width: 207px;
        height: 141px;
        background: url(../img/solution_aircon_01.png) no-repeat center / contain;
      }

      &::after {
        top: 20px;
        right: -110px;
        width: 74px;
        height: 183px;
        background: url(../img/solution_aircon_02.png) no-repeat center / contain;
      }
    }

    p {
      position: relative;
      width: fit-content;
      margin: 0 auto 60px;
      font-size: var(--fz25);
      font-weight: 800;

      &::before,
      &::after {
        position: absolute;
        display: inline-block;
        content: "";
      }

      &::before {
        top: 115px;
        left: -145px;
        width: 194px;
        height: 105px;
        background: url(../img/solution_aircon_03.png) no-repeat center / contain;
      }

      &::after {
        top: 120px;
        right: -145px;
        width: 203px;
        height: 96px;
        background: url(../img/solution_aircon_04.png) no-repeat center / contain;
      }
    }

    @include tb-mq {
      font-size: var(--fz20);

      div {
        &::before,
        &::after {
          content: none;
        }
      }

      p {
        &::before,
        &::after {
          content: none;
        }
      }
    }
  }

  // .solution--cv
  &--cv {
    margin-bottom: 60px;

    p {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 5px;
      font-size: var(--fz30);
      font-weight: 800;
      color: #001f52;
      text-align: center;

      &::before,
      &::after {
        width: 1px;
        height: 35px;
        content: "";
        background: #001f52;
      }

      &::before {
        margin-right: 25px;
        transform: rotate(-30deg);
      }

      &::after {
        margin-left: 25px;
        transform: rotate(30deg);
      }

      +img {
        display: block;
        margin: 0 auto 30px;
      }
    }

    @include max-mq {
      p {
        font-size: var(--fz25);

        &::before,
        &::after {
          width: 1px;
          height: 25px;
          content: "";
          background: #001f52;
        }
      }

      .header--btns {
        flex-direction: column;
      }
    }
  }

  // .solution--inner
  &--inner {
    position: relative;
    padding: 120px min(4vw, 25px);
    background: rgb(255 255 255 / 50%);
    border: 5px solid rgb(0 183 255 / 50%);
    border-radius: 15px;

    @include max-mq {
      padding: 100px min(4vw, 25px) 30px;
    }
  }

  // .solution--img
  &--img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @include max-mq {
      img {
        width: 50%;
      }
    }
  }
}

.service {
  // .service--ttl
  &--ttl {
    margin-bottom: 60px;
    text-align: center;

    h2 {
      display: inline;
      font-size: var(--fz50);
      font-weight: 900;
      background: linear-gradient(to bottom, transparent 0%, transparent 70%, #f0ff00 70%, #f0ff00 100%);

      strong {
        color: #ff004e;
      }
    }

    @include tb-mq {
      h2 {
        font-size: var(--fz40);
      }
    }
  }

  // .service--lead
  &--lead {
    margin-bottom: 80px;
    font-size: var(--fz25);
    font-weight: 700;
    text-align: center;

    @include tb-mq {
      font-size: var(--fz23);
    }
  }

  // .service--inner
  &--inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    width: 100%;
    margin: 0 auto 100px;

    h3 {
      padding: 30px;
      margin-bottom: 40px;
      font-size: var(--fz40);
      font-weight: 800;
      color: #fff;
      text-align: center;
      background: #049;
      border-radius: 15px 15px 0 0;
    }

    span {
      color: #fffc00;
    }

    img {
      display: block;
      margin: auto;
    }

    p {
      padding: 60px;
      font-size: var(--fz23);
      line-height: 1.8;
      text-align: center;
    }

    article {
      border: 3px solid #049;
      border-radius: 20px;
    }

    @include max-mq {
      grid-template-columns: repeat(1, 1fr);

      h3 {
        padding: 15px;
        font-size: var(--fz30);
      }

      p {
        padding: 30px 15px;
        font-size: var(--fz20);
      }
    }
  }

  // .service--maker
  &--maker {
    h3 {
      img {
        display: block;
        margin: 0 auto 30px;
      }
    }

    div {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
      align-items: center;
      justify-content: center;
      margin-bottom: 100px;
    }

    @include max-mq {
      div {
        img {
          width: calc((100% / 2) - 15px);
        }
      }
    }
  }

  // .service--building
  &--building {
    h3 {
      margin-bottom: 30px;
      font-size: var(--fz60);
      color: #fff5a0;
      text-align: center;
      -webkit-text-stroke: 9px #003578;
      paint-order: stroke;
    }

    @include tb-mq {
      h3 {
        font-size: var(--fz40);
      }
    }
  }

  // .service--img
  &--img {
    display: flex;
    flex-wrap: wrap;
    row-gap: 60px;
    column-gap: 30px;
    justify-content: center;

    div {
      position: relative;
    }

    p {
      position: absolute;
      bottom: -33px;
      left: 50%;
      width: 220px;
      padding: 10px 0;
      font-size: var(--fz30);
      font-weight: 700;
      color: #fff;
      text-align: center;
      background: linear-gradient(180deg, rgb(0 35 79) 0%, rgb(0 55 124) 35%, rgb(0 75 169) 50%, rgb(0 55 124) 65%, rgb(0 35 79) 100%);
      border-radius: 10px;
      transform: translateX(-50%);
    }

    @include max-mq {
      img {
        width: 100%;
      }
    }
  }
}

.reason {
  padding: 120px 0;
  background: #eefaff;

  h2 {
    display: block;
    width: fit-content;
    padding: 0 30px;
    margin: 0 auto 60px;
    font-size: var(--fz50);
    font-weight: 900;
    color: #049;
    text-align: center;
    background: linear-gradient(to bottom, transparent 0%, transparent 70%, #f0ff00 70%, #f0ff00 100%);

    span {
      font-size: var(--fz70);
      color: #00a8ff;
    }
  }

  h3 {
    width: fit-content;
    padding: 0 20px 10px;
    margin: 0 auto 30px;
    font-size: var(--fz30);
    font-weight: 800;
    color: #049;
    background: radial-gradient(rgb(255 122 4) 40%, transparent 60%) repeat-x bottom / 7px 7px;
  }

  article {
    position: relative;
    padding: 60px;
    background: #fff;
    border: 3px solid #049;
    border-radius: 15px;
    box-shadow: 0 0 25.5px 4.5px rgb(192 234 255 / 100%);

    &::before {
      position: absolute;
      top: 30px;
      left: 30px;
      width: 154px;
      height: 110px;
      content: "";
    }

    @for $i from 1 through 6 {
      $number: if(sass($i < 10): "0#{$i}"; else: "#{$i}");

      &:nth-child(#{$i})::before {
        background: url("../img/reason_num_#{$number}.png") no-repeat center /contain;
      }
    }
  }

  img {
    display: block;
    margin: 0 auto 30px;
  }

  p {
    text-align: center;
  }

  // .reason--lead
  &--lead {
    margin-bottom: 60px;
    font-size: var(--fz25);
    font-weight: 700;

    @include max-mq {
      font-size: var(--fz20);
    }
  }

  // .reason--inner
  &--inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    width: 100%;
    margin: 0 auto;

    @include max-mq {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  @include max-mq {
    padding: 80px 0;

    h2 {
      padding: 0 15px;
      font-size: var(--fz35);

      span {
        font-size: var(--fz50);
      }
    }

    article {
      padding: 15px;

      &::before {
        top: 5px;
        left: 5px;
        width: 110px;
        height: 80px;
      }
    }

    h3 {
      padding: 0 10px 10px;
      font-size: var(--fz30);
    }
  }
}

.worry {
  background: #0bf;

  article {
    position: relative;

    &:not(:last-child) {
      margin-bottom: 100px;
    }
  }

  h3 {
    position: absolute;
    top: -45px;
    left: 50%;
    box-sizing: border-box;
    width: 100%;
    max-width: 900px;
    padding: 20px;
    font-size: var(--fz30);
    font-weight: 800;
    color: #fff;
    text-align: center;
    background: #465cac;
    box-shadow: 5px 5px 0 #333;
    transform: translateX(-50%);
  }

  // .worry--ttl
  &--ttl {
    margin-bottom: 40px;
    font-size: var(--fz50);
    font-weight: 900;
    color: #fff;
    text-align: center;

    span {
      display: block;
      font-size: var(--fz25);
      color: #fff;
    }

    b {
      color: #fffc00;
    }

    @include max-mq {
      font-size: var(--fz40);

      span {
        font-size: var(--fz20);
      }
    }
  }

  // worry--lead
  &--lead {
    margin-bottom: 120px;
    font-size: var(--fz25);
    font-weight: 700;
    text-align: center;


    @include max-mq {
      font-size: var(--fz20);
    }
  }

  // .worry--inner
  &--inner {
    box-sizing: border-box;
    display: flex;
    flex-direction: row-reverse;
    gap: 30px;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1100px;
    padding: 100px 60px 60px;
    margin: auto;
    background: #fff;

    @include max-mq {
      flex-direction: column-reverse;
      padding: 100px 30px 30px;
    }
  }

  // .worry--txt
  &--txt {
    padding-bottom: 15px;
    margin-bottom: 15px;
    font-size: var(--fz25);
    font-weight: 800;
    color: #0090ff;
    background-image: linear-gradient(to right, #000 8px, transparent 8px);
    background-repeat: repeat-x;
    background-position: left bottom;
    background-size: 10px 1px;

    span {
      display: inline-block;
      width: 100px;
      padding: 5px 10px;
      margin: 0 10px 0 0;
      font-size: var(--fz18);
      color: #333;
      text-align: center;
      background: #eee;
      border-radius: 5px;
    }

    @include max-mq {
      font-size: var(--fz23);

      span {
        display: block;
        width: 90px;
        padding: 5px 10px;
        margin: 0 0 10px;
        font-size: var(--fz16);
      }
    }
  }

  @include max-mq {
    h3 {
      max-width: 90%;
      font-size: var(--fz25);
    }
  }
}

.cvarea {
  position: relative;

  // .cv_area--btn
  &--btn {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, 0);

    @include max-mq {
      bottom: 14%;
      width: 100%;
      transform: translate(-50%, -50%);
    }
  }

  // .cv_area--img
  &--img {
    width: 100%;
  }

  .header--btns {
    @include max-mq {
      flex-direction: column;

      img {
        width: 100%;
        height: 90px;
        object-fit: cover;
      }
    }
  }
}

.flow {
  counter-reset: number 0;

  h2 {
    margin-bottom: 40px;
    font-size: var(--fz45);
    font-weight: 900;
    color: #049;
    text-align: center;

    +p {
      margin-bottom: 80px;
      font-size: var(--fz23);
      font-weight: 700;
      text-align: center;
    }
  }

  // .flow--item
  &--item {
    position: relative;

    div {
      position: relative;
      width: fit-content;
      margin: 0 auto 30px;
    }

    img {
      box-shadow: 5px 5px 0 #049;
    }

    h3 {
      position: relative;
      width: fit-content;
      padding: 0 0 0 55px;
      margin: 0 auto 30px;
      font-size: var(--fz30);
      font-weight: 800;
      color: #049;
      text-align: center;
    }

    p {
      text-align: center;
    }

    &:not(:last-child) {
      margin-bottom: 120px;

      &::after {
        position: absolute;
        bottom: -80px;
        left: 50%;
        display: inline-block;
        width: 104px;
        height: 51px;
        content: "";
        background: url(../img/arrow_yellow.png) no-repeat center / contain;
        transform: translateX(-50%);
      }
    }

    &:nth-of-type(1) {
      h3 {
        &::before {
          position: absolute;
          top: 50%;
          left: 0;
          display: inline-block;
          width: 46px;
          height: 46px;
          content: "";
          background: url(../img/flow_icon_01.png) no-repeat center / contain;
          transform: translateY(-50%);
        }
      }
    }

    &:nth-of-type(2) {
      h3 {
        &::before {
          position: absolute;
          top: 50%;
          left: 0;
          display: inline-block;
          width: 46px;
          height: 46px;
          content: "";
          background: url(../img/flow_icon_02.png) no-repeat center / contain;
          transform: translateY(-50%);
        }
      }
    }

    &:nth-of-type(3) {
      h3 {
        &::before {
          position: absolute;
          top: 50%;
          left: 0;
          display: inline-block;
          width: 46px;
          height: 46px;
          content: "";
          background: url(../img/flow_icon_03.png) no-repeat center / contain;
          transform: translateY(-50%);
        }
      }
    }

    &:nth-of-type(4) {
      h3 {
        &::before {
          position: absolute;
          top: 50%;
          left: 0;
          display: inline-block;
          width: 46px;
          height: 46px;
          content: "";
          background: url(../img/flow_icon_04.png) no-repeat center / contain;
          transform: translateY(-50%);
        }
      }
    }

    &:nth-of-type(5) {
      h3 {
        &::before {
          position: absolute;
          top: 50%;
          left: 0;
          display: inline-block;
          width: 46px;
          height: 46px;
          content: "";
          background: url(../img/flow_icon_05.png) no-repeat center / contain;
          transform: translateY(-50%);
        }
      }
    }

    &:nth-of-type(6) {
      h3 {
        &::before {
          position: absolute;
          top: 50%;
          left: 0;
          display: inline-block;
          width: 46px;
          height: 46px;
          content: "";
          background: url(../img/flow_icon_06.png) no-repeat center / contain;
          transform: translateY(-50%);
        }
      }
    }

    &:nth-of-type(7) {
      h3 {
        &::before {
          position: absolute;
          top: 50%;
          left: 0;
          display: inline-block;
          width: 46px;
          height: 46px;
          content: "";
          background: url(../img/flow_icon_07.png) no-repeat center / contain;
          transform: translateY(-50%);
        }
      }
    }

    @include max-mq {
      h3 {
        margin: 0 auto 15px;
        font-size: var(--fz25);
      }

      &:not(:last-child) {
        margin-bottom: 100px;

        &::after {
          bottom: -65px;
          width: 80px;
          height: 40px;
        }
      }
    }
  }

  // .flow--num
  &--num {
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px 10px;
    font-size: var(--fz20);
    color: #fff;
    background: #049;

    span {
      margin-left: 5px;
    }
  }

  @include max-mq {
    h2 {
      font-size: var(--fz30);

      +p {
        font-size: var(--fz20);
      }
    }
  }
}

.question {
  background: #eefaff;

  h2 {
    margin-bottom: 40px;
    font-size: var(--fz45);
    font-weight: 900;
    color: #049;
    text-align: center;

    +p {
      margin-bottom: 80px;
      font-size: var(--fz23);
      font-weight: 700;
      text-align: center;
    }
  }

  dt {
    position: relative;
    padding: 20px 30px 20px 80px;
    font-size: var(--fz25);
    font-weight: 800;
    color: #fff;
    background: #049;

    &::before {
      position: absolute;
      top: 50%;
      left: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 60px;
      height: 60px;
      padding-bottom: 5px;
      font-size: var(--fz30);
      font-weight: 800;
      line-height: 1;
      content: "Q";
      background: #f06;
      border-radius: 50%;
      transform: translateY(-50%);
    }
  }

  dd {
    position: relative;
    padding: 30px 30px 30px 80px;
    background: #fff;

    &::before {
      position: absolute;
      top: 50%;
      left: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 60px;
      height: 60px;
      padding-bottom: 5px;
      font-size: var(--fz30);
      font-weight: 800;
      line-height: 1;
      color: #fff;
      content: "A";
      background: #ffa800;
      border-radius: 50%;
      transform: translateY(-50%);
    }

    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }

  .content {
    width: min(850px, 100%);
  }

  @include max-mq {
    h2 {
      margin-bottom: 30px;
      font-size: var(--fz35);

      +p {
        font-size: var(--fz20);
      }
    }

    dt {
      padding: 15px 15px 15px 60px;
      font-size: var(--fz22);

      &::before {
        width: 40px;
        height: 40px;
        padding-bottom: 3px;
        font-size: var(--fz25);
      }
    }

    dd {
      padding: 15px 15px 15px 60px;

      &::before {
        width: 40px;
        height: 40px;
        padding-bottom: 3px;
        font-size: var(--fz25);
      }
    }
  }
}

.area {
  h2 {
    margin-bottom: 40px;
    font-size: var(--fz50);
    font-weight: 900;
    text-align: center;

    b {
      display: block;
      color: #f06;
    }

    +p {
      margin-bottom: 80px;
      font-size: var(--fz25);
      text-align: center;
    }
  }

  .contents {
    width: min(1050px, 100%);
  }

  // .area--list
  &--list {
    position: relative;
    padding: 50px 40px 40px;
    background: #049;
    border-radius: 20px;

    span {
      position: absolute;
      top: -30px;
      left: 50%;
      padding: 10px 20px;
      font-size: var(--fz25);
      font-weight: 700;
      color: #fff;
      background: #f06;
      border-radius: 10px;
      transform: translateX(-50%);
    }

    img {
      display: block;
      margin: 0 auto 40px;
    }

    p {
      padding-top: 40px;
      font-size: var(--fz20);
      color: #fff;
      text-align: center;
      border-top: 3px solid #fffc00;
    }

    &:not(:last-child) {
      margin-bottom: 100px;
    }

    @include max-mq {
      padding: 50px 20px 30px;

      img {
        margin: 0 auto 30px;
      }

      p {
        padding-top: 30px;
      }

      &:not(:last-child) {
        margin-bottom: 80px;
      }
    }
  }

  @include max-mq {
    h2 {
      margin-bottom: 30px;
      font-size: var(--fz35);

      +p {
        font-size: var(--fz20);
      }
    }
  }
}


























.catch {
  h2 {
    position: relative;
    width: fit-content;
    padding: 0 80px;
    margin: 0 auto 60px;
    font-size: var(--fz60);
    font-weight: 900;
    color: #f00;
    text-align: center;

    &::before,
    &::after {
      position: absolute;
      display: inline-block;
      width: 75px;
      height: 85px;
      content: "";
    }

    &::before {
      top: -30px;
      left: 0;
      background: image-set(url(../../cleaninglp/img/case_star01.avif) type("image/avif"), url(../../cleaninglp/img/case_star01.webp) type("image/webp"), url(../../cleaninglp/img/case_star01.png) type("image/png")) no-repeat center /contain;
    }

    &::after {
      right: 0;
      bottom: -30px;
      background: image-set(url(../../cleaninglp/img/case_star02.avif) type("image/avif"), url(../../cleaninglp/img/case_star02.webp) type("image/webp"), url(../../cleaninglp/img/case_star02.png) type("image/png")) no-repeat center /contain;
    }
  }

  // .catch--inner
  &--inner {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    justify-content: center;
    margin-bottom: 60px;

    +img {
      display: block;
      margin: 0 auto 60px;
    }
  }

  // .catch--item
  &--item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 565px;

    > span {
      display: block;
      width: min(430px, 100%);
      font-size: var(--fz35);
      font-weight: 800;
      color: #fff;
      text-align: center;
      background: #00479d;
    }

    img {
      +p {
        font-size: var(--fz25);
        font-weight: 900;
      }
    }

    &:last-child {
      img {
        margin-bottom: 40px;
      }
    }

    @include max-mq {
      img {
        margin-bottom: 15px;
      }
    }
  }

  // .catch--price
  &--price {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 25px;
    font-size: var(--fz120);
    font-weight: 900;
    line-height: 1.2;
    color: #f00;
    text-align: center;
    background: linear-gradient(to bottom, transparent 0%, transparent 70%, #fff100 70%, #fff100 100%);
    -webkit-text-stroke: 10px #fff;
    paint-order: stroke fill;

    @include max-mq {
      padding: 0 15px;
      font-size: var(--fz70);
    }
  }

  // .catch--period
  &--period {
    font-size: var(--fz70);

    @include max-mq {
      font-size: var(--fz40);
    }
  }

  // .catch--unit
  &--unit {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 25px;
    line-height: 1.3;

    @include max-mq {
      margin-top: 10px;
    }
  }

  // .catch--jpy
  &--jpy {
    font-size: var(--fz55);

    @include max-mq {
      font-size: var(--fz35);
    }
  }

  // .catch--tax
  &--tax {
    font-size: var(--fz30);

    @include max-mq {
      font-size: var(--fz20);
    }
  }

  // .catch--txt
  &--txt {
    margin-bottom: 30px;
    font-size: var(--fz45);
    font-weight: 900;
    color: #00479d;
    text-align: center;

    +p {
      font-size: var(--fz30);
      font-weight: 800;
      text-align: center;
    }

    @include max-mq {
      margin-bottom: 15px;
      font-size: var(--fz30);

      +p {
        font-size: var(--fz25);
      }
    }
  }

  @include max-mq {
    h2 {
      padding: 0 12%;
      font-size: var(--fz40);

      &::before,
      &::after {
        width: 45px;
        height: 60px;
      }
    }
  }
}

.lead {
  color: #fff;
  background: #1352c3;

  h2 {
    margin-bottom: 30px;
    text-align: center;
  }

  // .lead--inner
  &--inner {
    max-width: 1000px;
    margin: 0 auto 30px;
    background: #fff;

    h3 {
      padding: 10px 30px;
      font-size: var(--fz30);
      font-weight: 800;
      text-align: center;
      background: #002958;
    }

    @include max-mq {
      h3 {
        font-size: var(--fz25);
      }
    }
  }

  // .lead--txt
  &--txt {
    padding: 60px;
    box-shadow: 0 0 20px 0 #fff;

    p {
      margin-bottom: 30px;
      font-size: var(--fz30);
      font-weight: 800;
      line-height: 1.8;
      color: #02479d;
      text-align: center;
    }


    span {
      padding: 0 10px;
      font-size: var(--fz35);
      font-weight: 800;
      color: #f00;
      background: linear-gradient(to bottom, transparent 0%, transparent 70%, #fff100 70%, #fff100 100%);
    }

    @include max-mq {
      padding: 30px;
    }
  }

  // .lead--supplement
  &--supplement {
    margin-bottom: 15px;
    font-size: var(--fz20);
    font-weight: 500;
    text-align: center;

    &.-sm {
      font-size: var(--fz14);
    }
  }

  @include max-mq {
    .header--btns {
      flex-direction: column;
      align-items: center;
    }
  }
}

.sign {
  padding: 120px 0 100px;

  // .sign--catch
  &--catch {
    display: block;
    width: 380px;
    padding: 15px 0;
    margin: 0 auto 15px;
    font-size: var(--fz25);
    font-weight: 600;
    color: #fff;
    text-align: center;
    background: #f06;
    border-radius: 1000px;

    @include max-mq {
      width: fit-content;
      padding: 10px 15px;
      font-size: var(--fz20);
    }
  }

  h2 {
    margin-bottom: 60px;
    font-size: var(--fz40);
    font-weight: 800;
    color: #004ba6;
    text-align: center;

    span {
      padding: 0 10px;
      font-size: var(--fz45);
      font-weight: 800;
      color: #004ba6;
      background: linear-gradient(to bottom, transparent 0%, transparent 70%, #fff100 70%, #fff100 100%);
    }
  }

  // .sign--list
  &--list {
    position: relative;
    box-sizing: border-box;
    max-width: 1000px;
    padding: 40px;
    margin: auto;
    font-size: var(--fz23);
    background: #fff;
    box-shadow: 0 3px 7px 0 rgb(0 0 0 / 30%);

    li {
      position: relative;
      padding: 0 0 5px 40px;
      margin-bottom: 15px;
      border-bottom: 1px solid #b5b5b5;

      &::before {
        position: absolute;
        top: 47%;
        left: 0;
        display: inline-block;
        width: 27px;
        height: 27px;
        content: "";
        background: url(../../cleaninglp/img/icon_check.png) no-repeat center center /contain;
        transform: translateY(-50%);
      }
    }

    span {
      color: #f00;
    }

    &::before {
      position: absolute;
      right: -50px;
      bottom: -100px;
      z-index: 1;
      display: inline-block;
      width: 247px;
      height: 227px;
      content: "";
      background: image-set(url(../../cleaninglp/img/sign_person.avif) type("image/avif"), url(../../cleaninglp/img/sign_person.webp) type("image/webp"), url(../../cleaninglp/img/sign_person.png) type("image/png")) no-repeat center /contain;
    }

    @media (width <= 1280px) {
      &::before {
        right: auto;
        bottom: -200px;
        left: 50%;
        width: 247px;
        height: 227px;
        transform: translateX(-50%);
      }
    }

    @include max-mq {
      padding: 25px;
      font-size: var(--fz18);

      li {
        padding: 0 0 5px 30px;

        &::before {
          width: 20px;
          height: 20px;
        }
      }

      &::before {
        bottom: -100px;
        width: 160px;
        height: 140px;
      }
    }
  }

  @media (width <= 1280px) {
    padding: 120px 0 200px;
  }

  @include max-mq {
    padding: 80px 0 100px;

    h2 {
      margin-bottom: 40px;
      font-size: var(--fz30);

      span {
        font-size: var(--fz30);
      }
    }
  }
}

.price {
  h2 {
    margin-bottom: 60px;
    font-size: var(--fz40);
    font-weight: 900;
    color: #004ba6;
    text-align: center;

    img {
      vertical-align: baseline;
    }
  }

  .sign--catch {
    margin: 0 auto 40px;
  }

  // .price--img
  &--img {
    @include max-mq {
      width: 100%;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;

      img {
        display: block;
        width: 180%;
        max-width: none;
      }
    }
  }

  @include max-mq {
    h2 {
      margin-bottom: 40px;
      font-size: var(--fz30);

      img {
        width: 70%;
      }
    }

    .sign--catch {
      margin: 0 auto 15px;
    }
  }
}

.merit {
  h2 {
    margin-bottom: 60px;
    font-size: var(--fz40);
    font-weight: 900;
    line-height: 1.3;
    color: #1543b3;
    text-align: center;
    filter: drop-shadow(4px 4px 4px rgb(0 41 108 / 30%));
    -webkit-text-stroke: 8px #fff;
    paint-order: stroke fill;

    span {
      font-size: var(--fz60);
      color: #ff9000;
    }
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    counter-reset: num; /* カウンターを初期化 */
  }

  li {
    position: relative;
    counter-increment: num;

    &::before {
      position: absolute;
      top: 0;
      left: 15px;
      font-size: var(--fz45);
      font-weight: 900;
      color: #00a2ff;
      content: counter(num, decimal-leading-zero);
      filter: drop-shadow(4px 4px 4px rgb(0 41 108 / 30%));
      -webkit-text-stroke: 8px #fff;
      paint-order: stroke fill;
    }
  }

  p {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    font-size: 35px;
    font-weight: 900;
    color: #fff;
    text-align: center;
    filter: drop-shadow(4px 4px 4px rgb(0 41 108 / 30%));
    transform: translate(-50%, -50%);
    -webkit-text-stroke: 8px #1543b3;
    paint-order: stroke fill;
  }

  @include max-mq {
    h2 {
      font-size: var(--fz28);

      span {
        font-size: var(--fz50);
      }
    }

    p {
      font-size: var(--fz30);
    }

    img {
      object-fit: cover;
      width: 250px;
      height: 250px;
      aspect-ratio: 1 / 1;
    }
  }
}

.select {
  h2 {
    margin-bottom: 60px;
    font-size: var(--fz40);
    font-weight: 900;
    color: #004ba6;
    text-align: center;

    img {
      vertical-align: baseline;
    }

    span {
      display: inline-block;
      width: 80px;
      height: 80px;
      font-size: var(--fz65);
      line-height: 1.2;
      color: #fff700;
      text-align: center;
      background: #004ba6;
      border-radius: 50%;
    }
  }

  ol {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 30px;
    counter-reset: num;

    img {
      width: 100%;
      object-fit: cover;
    }

    p {
      padding: 15px;
    }
  }

  h3 {
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 15px;
    font-size: var(--fz25);
    font-weight: 800;
    color: #fff;
    counter-increment: num;
    background: #004ba6;

    &::before {
      position: relative;
      top: -3px;
      padding: 8px;
      margin-right: 10px;
      font-size: var(--fz16);
      font-weight: 900;
      color: #004ba6;
      content: "POINT" counter(num, decimal-leading-zero);
      background: #fff700;
      border-radius: 5px;
    }
  }

  .contents {
    width: min(900px, 100%);
  }

  @include max-mq {
    h2 {
      font-size: var(--fz35);

      img {
        width: 80%;
      }

      span {
        width: 60px;
        height: 60px;
        font-size: var(--fz50);
        line-height: 1.2;
      }
    }

    ol {
      grid-template-columns: 1fr;

      p {
        padding: 15px 0 0;
      }
    }

    h3 {
      padding: 15px;
      font-size: var(--fz23);

      &::before {
        font-size: var(--fz14);
      }
    }
  }
}

.case {
  background: #fffee4;

  .sign--catch {
    width: fit-content;
    padding: 15px 30px;
    border: 3px solid #fff;
  }

  // .case--item
  &--item {
    max-width: 1150px;
    margin: auto;
    background: #fff;
    box-shadow: 0 3px 7px 0 rgb(0 0 0 / 40%);

    &:not(:last-of-type) {
      margin-bottom: 80px;
    }

    h3 {
      box-sizing: border-box;
      padding: 15px;
      margin-bottom: 30px;
      font-size: var(--fz30);
      font-weight: 800;
      color: #fff700;
      text-align: center;
      background: #0675f3;
    }

    h3 + p {
      margin-bottom: 40px;
      font-size: var(--fz20);
      text-align: center;
    }

    @include max-mq {
      h3 {
        font-size: var(--fz25);
      }
    }
  }

  // .case--inner
  &--inner {
    width: min(1100px, 100%);
    padding: 0 min(4vw, 25px) 60px;
    margin: auto;

    > p {
      margin-bottom: 40px;
      text-align: center;
    }

    @include max-mq {
      padding: 0 min(4vw, 25px) 20px;
    }
  }

  // .case--comparison
  &--comparison {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    gap: 80px;

    p {
      font-size: var(--fz23);
      text-align: center;
    }

    &::before {
      position: absolute;
      top: 50%;
      left: 50%;
      content: "";
      border: 3rem solid transparent;
      border-left: 5rem solid #004ba6;
      transform: translate(-25%, -50%);
    }

    @include max-mq {
      grid-template-columns: 1fr;

      p {
        font-size: var(--fz20);
      }

      &::before {
        border: 2rem solid transparent;
        border-top: 3rem solid #004ba6;
        transform: translate(-50%, -30%);
      }
    }
  }

  // .case--before
  &--before {
    box-sizing: border-box;
    padding: 31px;
    margin: auto;
    background: #fff;
    border: 4px solid #007bf8;
    box-shadow: 6.293px 7.771px 25px 0 rgb(111 52 0 / 40%);

    p {
      padding: 5px 0;
      color: #fff;
      background: #007bf8;
      border-radius: 1000px;
    }

    img {
      margin-bottom: 15px;
    }

    @include max-mq {
      padding: 20px;
    }
  }

  // .case--after
  &--after {
    position: relative;
    box-sizing: border-box;
    padding: 31px;
    margin: auto;
    background: #fff;
    border: 4px solid #f06;
    box-shadow: 6.293px 7.771px 25px 0 rgb(111 52 0 / 40%);

    p {
      padding: 5px 0;
      color: #fff;
      background: #f06;
      border-radius: 1000px;
    }

    img {
      margin-bottom: 15px;
    }

    &::before,
    &::after {
      position: absolute;
      display: inline-block;
      width: 122px;
      height: 134px;
      content: "";
    }

    &::before, {
      top: 0;
      left: 0;
      background: url(../../cleaninglp/img/case_star01.png) no-repeat center center/contain;
    }

    &::after {
      right: 0;
      bottom: 50px;
      background: url(../../cleaninglp/img/case_star02.png) no-repeat center center/contain;
    }

    @include max-mq {
      padding: 20px;

      &::before,
      &::after {
        width: 100px;
        height: 110px;
      }
    }
  }

  @include max-mq {
    .sign--catch {
      padding: 10px 20px;
      font-size: var(--fz18);
    }
  }
}

.voice {
  // .voice--inner
  &--inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

    @include max-mq {
      grid-template-columns: 1fr;
    }
  }

  // .voice--item
  &--item {
    box-sizing: border-box;
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 3;
    padding: 30px;
    background: #fff;
    border: 4px solid #004ba6;
    box-shadow: 6.293px 7.771px 25px 0 rgb(111 52 0 / 40%);

    h3 {
      font-size: var(--fz20);
      font-weight: 800;
      color: #004ba6;
      text-align: center;
    }

    span {
      display: block;
      font-size: var(--fz14);
      font-weight: 800;
      text-align: center;
    }

    p {
      margin-top: -15px;
    }

    img {
      display: block;
      margin: auto;
    }

    @include tb-mq {
      padding: 15px;
    }
  }
}


