@charset "UTF-8";
@use "../variables" as *;

// ---------------------------------------------
//  contact form
// ---------------------------------------------

.contact_form {
  textarea {
    height: 280px;
  }

  input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="number"],
  input[type="date"],
  input[type="password"],
  textarea {
    box-sizing: border-box;
    width: 100%;
    padding: 15px;
    font-family: inherit;
    font-size: var(--fz20);
    font-weight: normal;
    color: #333;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    box-shadow: none;

    &:focus {
      background: #fff;
      border: solid 1px #e6edf2;
      outline: none;
    }
  }

  input::placeholder,
  textarea::placeholder {
    color: #d9d7d7;
    opacity: 1;
  }

  input[type="checkbox"]:checked,
  input[type="radio"]:checked {
    + span {
      font-weight: bold;
    }
  }

  select {
    width: 100%;
    padding: 10px;
    margin-right: 2px;
    border: solid 1px #e1e1e1;
    border-radius: 3px;

    option {
      padding: 0;
    }
  }

  .wpcf7-list-item {
    margin: 0;
  }

  .your-checkbox {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  // .contact_form--confirm
  &--confirm {
    display: flex;
    gap: 15px;
    justify-content: center;
  }

  // .contact_form--table
  &--table {
    width: 100%;
    max-width: 900px;
    margin: 0 auto 40px;

    tr {
      display: block;

      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }

    td {
      display: block;
    }

    th {
      position: relative;
      display: block;
      width: fit-content;
      padding-left: 55px;
      margin-bottom: 10px;
      font-weight: bold;

      &::after {
        position: absolute;
        top: 50%;
        left: 0;
        padding: 6px 8px;
        font-size: var(--fz14);
        font-weight: normal;
        line-height: 1;
        transform: translate(0, -50%);
      }
    }

    .is-required::after {
      color: #ea0437;
      content: "必須";
      border: 1px solid #ea0437;
      border-radius: 5px;
    }

    .is-option::after {
      color: #6f6f6f;
      content: "任意";
      border: 1px solid #6f6f6f;
      border-radius: 5px;
    }
  }

  // .contact_form--btn
  &--btn {
    input[type="submit"],
    input[type="button"],
    button[type="submit"] {
      box-sizing: border-box;
      display: block;
      width: 280px;
      padding: 20px 0;
      margin: auto;
      color: #fff;
      cursor: pointer;
      background: url(../img/contact/arrow.png) no-repeat right 30px center / 11px, #0052a7;
      border: none;
      border-radius: 1000px;
      transition: 0.3s;
      appearance: none;

      &:hover {
        opacity: 0.8;
      }

      @include max-mq {
        max-width: 80%;
      }
    }
  }

  @include tb-mq {
    .your-checkbox {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      font-size: var(--fz14);
    }
  }
}
