@charset "UTF-8";
@use "variables" as *;

// ---------------------------------------------
//  base
// ---------------------------------------------

html {
  font-size: 62.5%;
}

body {
  position: relative;
  font-family: "Noto Sans JP", sans-serif;
  font-size: var(--fz18);
  font-weight: 500;
  font-optical-sizing: auto;
  line-height: 1.6;
  color: $color-body;
  letter-spacing: 0.05em;
}

.wrap {
  // min-width: 1200px;
  margin: auto;

  @include max-mq {
    width: 100%;
    min-width: auto;
  }
}

.container {
  box-sizing: border-box;
  width: min(1350px, 100%); // デザインの幅 + padding
  padding: 0 min(4vw, 25px);
  margin: auto;

  &.-md {
    width: min(1150px, 100%); // デザインの幅 + padding
  }

  &.-sm {
    width: min(1050px, 100%); // デザインの幅 + padding
  }
}

main {
  display: block;
  padding-top: 140px;

  // for ipad portrait mode

  @media (min-width: 768px) and (max-width: 769px) and (orientation: portrait) {
    min-height: 95vh;
  }

  @include max-mq {
    padding-top: 0;
  }
}


// グーグルマップ
.googlemap {
  position: relative;

  &::before {
    display: block;
    padding-top: 46%; // 【マップの高さ】高さ/幅*100%
    content: "";
  }

  iframe {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
  }

  @include max-mq {
    &::before {
      padding-top: 450px;
    }
  }
}

// ---------------------------------------------
//  ヘッダー関連 header
// ---------------------------------------------

.header {
  position: fixed;
  top: 0;
  z-index: 1111111;
  width: 100%;
  background: #fff;
  box-shadow: 0 0 8px #808080;

  // .header--logo
  &--logo {
    padding: 15px 0;
    margin-left: 40px;
    text-align: center;

    small {
      display: block;
      margin-bottom: 10px;
      font-size: var(--fz10);
    }

    a {
      display: block;
    }

    @media (width <= 1550px) {
      margin-left: 0;
    }

    @include max-mq {
      text-align: left;

      small {
        width: 75%;
      }
    }
  }

  // .header--inner
  &--inner {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (width <= 1550px) {
      padding: 0 min(4vw, 25px);
    }
  }

  // .header--btn
  &--btn {
    display: flex;
    gap: 30px;
    align-items: center;

    @media (width <= 1550px) {
      gap: 15px;
    }

    @media (width <= 1024px) {
      flex-direction: column;
    }
  }

  // header--tel
  &--tel {
    box-sizing: border-box;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    width: 275px;
    padding: 13px 0;
    padding-left: 20px;
    font-size: var(--fz28);
    line-height: 1;
    color: #fff;
    background: url(../img/common/icon_tel.png) no-repeat left 27px top 17px / 7%, #0054a4;
    border-radius: 1000px;

    span {
      display: block;
      margin-top: 5px;
      font-size: var(--fz12);
    }
  }

  // .header--contact
  &--contact {
    box-sizing: border-box;
    display: flex !important;
    align-items: center;
    justify-content: center;
    width: 145px;
    height: 140px;
    padding-top: 30px;
    font-size: var(--fz20);
    color: #fff;
    text-align: center;
    background: url(../img/common/icon_mail.png) no-repeat top 40px center / 28px 20px, #ff8206;

    @media (width <= 1550px) {
      box-sizing: border-box;
      width: 275px;
      height: 71px;
      padding-top: 0;
      padding-left: 20px;
      font-size: var(--fz25);
      background: url(../img/common/icon_mail.png) no-repeat center left 35px / 28px 20px, #ff8206;
      border-radius: 1000px;
    }
  }

  @include max-mq {
    position: relative;
  }
}

// ---------------------------------------------
//  グローバルナビゲーション関連 gnav
// ---------------------------------------------

.gnav_btn {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 100;
  display: block;
  width: 50px;
  height: 50px;
  cursor: pointer;
  background: #0052a7;
  border: solid 2px #fff;

  span {
    position: absolute;
    left: 15%;
    display: block;
    width: 70%;
    height: 3px;
    background: #fff;
    transition: 0.3s;

    &:first-child {
      top: 23%;
    }

    &:nth-child(2) {
      top: 48%;
      opacity: 1;
    }

    &:last-child {
      top: 72%;
    }
  }

  &.is-open {
    span {
      transition: 0.2s;

      &:first-child {
        top: 48%;
        transform: rotate(45deg);
      }

      &:nth-child(2) {
        display: none;
        opacity: 0;
      }

      &:last-child {
        top: 48%;
        transform: rotate(-45deg);
      }
    }
  }

  @media (1024px <= width) {
    display: none; // PC時非表示
  }
}

.gnav {
  display: block;


  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: 1vw;
  }

  li {
    a {
      padding: 0 15px;
      border-right: 1px #333 solid;
    }

    &:last-child {
      a {
        border-right: none;
      }
    }
  }

  a {
    display: block;
  }

  // .gnav--inner
  &--inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-weight: 800;

    @media (width <= 1550px) {
      flex-direction: column;
      gap: 15px;
      padding: 10px 0;
    }

    @include tb-mq {
      padding: 120px 0 0;
    }
  }

  @media (width <= 1650px) {
    li {
      a {
        font-size: var(--fz14);
      }
    }
  }

  @include tb-mq {
    position: fixed;
    top: 0;
    right: -110%;
    z-index: 99;
    width: 100%;
    height: 100%;
    color: #fff;
    background: rgb(6 48 100 / 100%);
    transition: 0.5s;

    &.is-open {
      right: 0;
    }

    ul {
      display: block;
      margin-right: 0;
    }

    li {
      margin-bottom: 15px;

      a {
        padding: 0 15px 5px;
        font-size: var(--fz18);
        text-align: center;
        border-right: none;
        border-bottom: 1px #fff solid;
      }
    }

    a {
      display: block;
    }
  }
}

// ---------------------------------------------
//  フッター関連 footer
// ---------------------------------------------

.footer {
  padding: 120px 0 0;
  color: #fff;
  background: url(../img/common/footer_bg.jpg) no-repeat center /cover;

  small {
    display: block;
    padding-bottom: 30px;
    margin-top: 80px;
    text-align: center;
  }

  // .footer--txt
  &--txt {
    margin-top: -20px;

    @include tb-mq {
      margin-top: 15px;

      p {
        text-align: center;
      }
    }
  }

  // .footer--lead
  &--lead {
    width: 100%;
    max-width: 1400px;
    padding: 0 30px 30px;
    margin: 0 auto 80px;
    line-height: 2;
    text-align: center;
    border-bottom: 1px solid #fff;

    @include max-mq {
      margin: 0 auto 60px;
      font-size: var(--fz16);
    }
  }

  // .footer--inner
  &--inner {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    width: min(1450px, 100%);
    padding: 0 min(4vw, 25px);
    margin: auto;

    img {
      margin-bottom: 30px;
    }

    address {
      margin-bottom: 15px;
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
      justify-content: flex-end;
      width: 55%;

      a {
        text-decoration: underline;
      }
    }

    @include tb-mq {
      flex-direction: column-reverse;
      gap: 30px;
      align-items: center;

      ul {
        justify-content: center;
        width: 100%;
      }
    }
  }
}
