@charset "UTF-8";
@use "variables" as *;

// ---------------------------------------------
//  汎用パーツ
// ---------------------------------------------

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}


.bg_white {
  background: #fff;
}

.bg_gray {
  background: #f6f6f6;
}

.sec {
  padding: 120px 0;

  &.-md {
    padding: 120px 0;
  }

  &.-sm {
    padding: 80px 0;
  }
}

.lead_txt {
  padding: 0 10px;
  color: #ff3198;
  background: linear-gradient(to bottom, transparent 0%, transparent 70%, #fff100 70%, #fff100 100%);
}

// レスポンシブ table　表
table {
  width: 100%;

  @include max-mq {
    &.table {
      display: block;

      tbody,
      tr,
      th,
      td {
        box-sizing: border-box;
        display: block;
        width: 100% !important;
      }
    }
  }
}

// SPの時に邪魔されたときの対処コード
// table tbody {
//   display: table-row-group !important;
//   width: auto !important;
// }

// table tr {
//   display: table-row !important;
//   width: auto !important;
// }

// table th, table td {
//   display: table-cell !important;
//   width: auto !important;
// }


.bold {
  // font-weight: boldのとき、文字がにじんで見える場合はこのclassで太字にする（YuGothic Midiumを使わないようにする）
  font-family:
    "Helvetica Neue",
    "Arial",
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    "YuGothic",
    "Yu Gothic",
    "Meiryo",
    sans-serif;
  font-weight: bold;
}

// ---------------------------------------------
// 下層ページ汎用
// ---------------------------------------------

// パンくずリスト
.breadcrumbs {
  padding: 5px 0;

  li {
    display: inline-block;
    line-height: 1;

    &::before {
      display: inline-block;
      vertical-align: top;
      content: "＞";
    }

    &:first-child::before {
      content: normal;
    }
  }
}

// ページネーション／ページャ
.pagination {
  display: flex;
  justify-content: center;

  & > span,
  a {
    display: inline-block !important;
    width: 2em;
    padding: 6px 0;
    line-height: 1;
    text-align: center;

    &.current {
      font-weight: bold;
    }
  }

  &:empty {
    display: none;
  }
}
