@charset "UTF-8";
@use "variables" as *;

// ---------------------------------------------
//  汎用パーツ
// ---------------------------------------------

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

.ttl {
  position: relative;
  margin-bottom: 70px;
  font-size: var(--fz45);
  font-weight: 900;
  line-height: 1.3;
  color: #0052a7;
  text-align: center;

  span {
    display: block;
    font-size: var(--fz25);
    color: #333;
    letter-spacing: 0;
  }

  &::before {
    position: absolute;
    bottom: -15px;
    left: calc(50% - 30px);
    width: 60px;
    height: 5px;
    content: "";
    background: #ff3198;
    border-radius: 3px;
  }

  // .attention--lead
  &--lead {
    margin-bottom: 60px;
    font-size: var(--fz25);
    font-weight: 600;
    text-align: center;
  }

  @include max-mq {
    font-size: var(--fz40);
  }
}

.underline {
  display: inline;
  padding: 0 10px;
  margin: auto;
  font-size: var(--fz35);
  font-weight: 900;
  color: #0052a7;
  background: linear-gradient(to bottom, transparent 0%, transparent 70%, #fff100 70%, #fff100 100%);
  background-repeat: repeat-y;
  background-size: 100% 50px;

  @include tb-mq {
    padding: 0;
    font-size: var(--fz27);
    background-size: 100% 40px;
  }
}

.btn_link {
  box-sizing: border-box;
  display: block;
  width: fit-content;
  padding: 15px 60px 15px 30px !important;
  margin: auto;
  font-weight: 700;
  color: #fff;
  background: url(../img/common/btn_arrow.png) no-repeat right 15px center / 40px, #0052a7;
  border-radius: 1000px;

  @include max-mq {
    padding: 15px 45px 15px 20px !important;
    font-size: var(--fz16);
    background: url(../img/common/btn_arrow.png) no-repeat right 10px center / 30px, #0052a7;
  }
}

.bg_white {
  background: #fff;
}

.bg_gray {
  background: #f6f6f6;
}

.bg_orange {
  background: #fffaf6;
}

.sec {
  padding: 120px 0;

  &.-md {
    padding: 120px 0;
  }

  &.-sm {
    padding: 80px 0;
  }

  @include max-mq {
    padding: 100px 0;
  }
}

.lead_txt {
  padding: 0 10px;
  color: #ff3198;
  background: linear-gradient(to bottom, transparent 0%, transparent 70%, #fff100 70%, #fff100 100%);
}

.page_ttl {
  position: relative;
  width: fit-content;
  padding: 0 50px 5px;
  margin: auto;
  font-size: 30px;
  font-weight: bold;
  color: #333;
  border-bottom: 3px solid #0052a7;

  &::before {
    position: absolute;
    top: 0;
    left: 20px;
    width: 13px;
    height: 13px;
    content: "";
    background: #0052a7;
    transform: rotate(55deg);
  }

  &::after {
    position: absolute;
    top: 15px;
    left: 10px;
    width: 10px;
    height: 10px;
    content: "";
    background: #0052a7;
    transform: rotate(15deg);
  }
}


// レスポンシブ table　表
table {
  width: 100%;

  @include max-mq {
    &.table {
      display: block;

      tbody,
      tr,
      th,
      td {
        box-sizing: border-box;
        display: block;
        width: 100% !important;
      }
    }
  }
}

// SPの時に邪魔されたときの対処コード
// table tbody {
//   display: table-row-group !important;
//   width: auto !important;
// }

// table tr {
//   display: table-row !important;
//   width: auto !important;
// }

// table th, table td {
//   display: table-cell !important;
//   width: auto !important;
// }


.bold {
  // font-weight: boldのとき、文字がにじんで見える場合はこのclassで太字にする（YuGothic Midiumを使わないようにする）
  font-family:
    "Helvetica Neue",
    "Arial",
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    "YuGothic",
    "Yu Gothic",
    "Meiryo",
    sans-serif;
  font-weight: bold;
}

// ---------------------------------------------
// 下層ページ汎用
// ---------------------------------------------

// パンくずリスト
.breadcrumbs {
  padding: 5px 0;

  li {
    display: inline-block;
    line-height: 1;

    &::before {
      display: inline-block;
      vertical-align: top;
      content: "＞";
    }

    &:first-child::before {
      content: normal;
    }
  }
}

// ページネーション／ページャ
.pagination {
  display: flex;
  justify-content: center;

  & > span,
  a {
    display: inline-block !important;
    width: 2em;
    padding: 6px 0;
    line-height: 1;
    text-align: center;

    &.current {
      font-weight: bold;
    }
  }

  &:empty {
    display: none;
  }
}
