@charset "UTF-8";
@use "sass:map"; // 追加

// ---------------------------------------------
// ここから変数
// ---------------------------------------------

// color
$color-body: #333; // 本文のテキスト用
$color-primary: #008080; // サイト内で１番よく使う色、ベースカラー
$color-secondary: #fafad2; // サイト内で２番目に使う色、サブカラー
$color-accent: #ff6347; // サイト内で３番目に使う色、アクセントカラー

// font-size
:root {
  --invariants: 2.5; //初期値2.5

  @for $var from 10 through 200 {
    --fz#{$var}: min(calc(0.1rem * #{$var}), calc(0.1vw * #{$var} * var(--invariants)));
  }
}

// ---------------------------------------------
// ここまで
// ---------------------------------------------

// breakpoint
$max-breakpoints: (
  "tb": 767px,
);
$min-breakpoints: (
  "pc": 768px
);
$tablet-breakpoints: (
  "tb": 1024px
);

// responsive
@mixin max-mq($breakpoint: tb) {
  // 767px以下
  @media (max-width: map.get($max-breakpoints, $breakpoint)) {
    @content;
  }
}

@mixin min-mq($breakpoint: pc) {
  // 768px以上
  @media (min-width: map.get($min-breakpoints, $breakpoint)) {
    @content;
  }
}

@mixin tb-mq($breakpoint: tb) {
  // 1024px以下
  @media (max-width: map.get($tablet-breakpoints, $breakpoint)) {
    @content;
  }
}

@include min-mq {
  // 768px以上
  .is-hidden_pc {
    display: none;
  }
}

@include tb-mq {
  // 1024px以下の時のスタイル
  .example {
    display: block;
  }
}

@include max-mq {
  // 767px以下
  .is-hidden_sp {
    display: none;
  }
}
