@charset "UTF-8";

// ---------------------------------------------
//  各ファイルを読み込む
// ---------------------------------------------

@use "shuurilp/utility"; // 基本共通要素
@use "shuurilp/parts"; // 共通装飾パーツ
@use "shuurilp/base"; // header,footerやmainなど

// index
@use "shuurilp/pages/top";

// 下層ページ

@use "shuurilp/pages/contact";
@use "shuurilp/pages/notfound"; // 404ページ見つかりません

// wordpress用 ブログ記事をリッチテキストエディタ
// @use "post";

/* コメント残したいときはアスタリスクの形式で囲ってね */
