@charset "UTF-8";

// ---------------------------------------------
//  各ファイルを読み込む
// ---------------------------------------------

@use "utility"; // 基本共通要素
@use "parts"; // 共通装飾パーツ
@use "base"; // header,footerやmainなど

// TOPページ
@use "pages/top";


// 下層ページ
@use "pages/business"; // 事業内容
@use "pages/archive"; // 一覧系のページ
@use "pages/contact"; // お問い合わせ
@use "pages/company"; // 会社概要
@use "pages/remote"; // リモートサポート
@use "pages/notfound"; // 404

// wordpress用 ブログ記事をリッチテキストエディタ
@use "post";

/* コメント残したいときはアスタリスクの形式で囲ってね */
