@charset "UTF-8";
@use "../variables" as *;


// ---------------------------------------------
//  一覧ページ共通
// ---------------------------------------------

.archive {
  // .archive--wrap
  &--wrap {
    width: 90%;
    padding: 20px 0 100px;
    margin: auto;
  }

  // .archive--inner
  &--inner {
    a {
      display: flex;
      gap: 30px;
      align-items: center;
      padding: 0 0 15px 40px;
      margin-bottom: 30px;
      border-bottom: 1px solid #d1d1d1;
    }
  }
}

.category_list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  align-items: center;
  justify-content: center;
  margin-bottom: 80px;

  li {
    width: 100%;
    max-width: 140px;
    text-align: center;
    background: #f6f6f6;
    border-radius: 1000px;

    a {
      display: block;
      padding: 5px 0;
    }

    &.is-active {
      color: #fff;
      background: #0052a7;
    }
  }
}

// ---------------------------------------------
//  お知らせ　専用
// ---------------------------------------------

// 詳細ページ
.detail_page {
  padding: 100px 0;

  h2 {
    padding-bottom: 15px;
    margin: 5px auto 15px;
    font-size: 25px;
    font-weight: bold;
    color: #767676;
    border-bottom: 4px solid rgb(28 73 122 / 28%);
  }

  .cat_label {
    display: block;
    width: 130px;
    padding: 5px 0;
    font-size: 16px;
    color: #0052a7;
    text-align: center;
    border: 2px solid #0052a7;
    border-radius: 10px;

    &.cat_pr {
      color: #ff903a;
      border: 2px solid #ff903a;
    }
  }

  // .detail_page--cat
  &--cat {
    margin-bottom: 40px;
  }
}


// ---------------------------------------------
//  サービス　専用
// ---------------------------------------------

.service_page {
  p {
    margin-bottom: 80px;
    text-align: center;
  }

  ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, 210px);
    row-gap: 40px;
    column-gap: 15px;
    justify-content: center;
  }

  figcaption {
    font-weight: 800;
    color: #0052a7;
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 5px;
  }

  img {
    margin-bottom: 5px;
  }
}

.single_service {
  dl {
    box-sizing: border-box;
    max-width: 765px;
    padding: 50px;
    margin: auto;
    margin-bottom: 60px;
    background: #fff;
    border: 3px solid #0052a7;
    border-radius: 10px;
  }

  dt {
    padding-left: 35px;
    font-size: var(--fz20);
    font-weight: 700;
    color: #0052a7;
    background: url(../img/service/check.png) no-repeat left 10px center / 17px;
  }

  dd {
    padding: 8px;
    border-bottom: 1px solid #d1d1d1;

    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  p {
    margin-bottom: 330px;
    line-height: 1.9;
  }

  .paging {
    margin: 100px auto 120px;
  }

  // .single_service--img
  &--img {
    width: 100%;
    max-width: 600px;
    aspect-ratio: 600 / 400;
    margin: 0 auto 40px;
    object-fit: cover;
  }

  // .single_service--inner
  &--inner {
    position: relative;
    padding: 80px 0;
    background: #ecf6ff;

    &::before {
      position: absolute;
      top: -249px;
      left: 50%;
      display: inline-block;
      width: 430px;
      aspect-ratio: 430 / 256;
      content: "";
      background: url(../img/service/catch.png) no-repeat center / contain;
      transform: translate(-50%, 0);
    }
  }
}

// ---------------------------------------------
//  導入実績　専用
// ---------------------------------------------

.introduction_page {
  // .front-news--info
  .front-news--info {
    margin-top: 10px;
  }

  // .introduction_page--txt
  &--txt {
    margin-bottom: 100px;
    text-align: center;
  }

  // .introduction_page--inner
  &--inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 60px;
    column-gap: 30px;

    img {
      width: 100%;
      aspect-ratio: 345 / 220;
      object-fit: cover;
    }
  }

  // .introduction_page--parent_labels
  &--parent_labels {
    color: #bbb;
  }

  // .introduction_page--child_labels
  &--child_labels {
    display: flex;
    gap: 5px;
    align-items: center;

    .child_labels {
      width: fit-content;
      padding: 3px 11px;
      font-size: var(--fz16);
      color: #fff;
      background: #063064;
      border-radius: 5px;
    }
  }
}

// ---------------------------------------------
//  お役立ち情報　専用
// ---------------------------------------------
.information_page {
  // .information_page--inner
  &--inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 60px;
    column-gap: 30px;

    p {
      font-size: var(--fz20);
      font-weight: 700;
      text-decoration: underline;
    }

    img {
      width: 100%;
      aspect-ratio: 345 / 220;
      margin-bottom: 5px;
      object-fit: cover;
    }
  }
}

// ---------------------------------------------
//  よくある質問　専用
// ---------------------------------------------

.question-search {
  text-align: center;

  input {
    display: block;
    width: 100%;
    max-width: 390px;
    padding: 15px 25px;
    margin: 0 auto 40px;
    font-size: var(--fz16);
    font-weight: 800;
    text-align: center;
    border-radius: 1000px;
  }
}
