@charset "UTF-8";
@use "../variables" as *;


// ---------------------------------------------
//  一覧ページ共通
// ---------------------------------------------

.archive_page {
  padding-top: 120px;

  // .archive--inner
  &--inner {
    a {
      display: flex;
      gap: 30px;
      align-items: center;
      padding: 0 0 15px 40px;
      margin-bottom: 30px;
      border-bottom: 1px solid #d1d1d1;
    }
  }

  .container {
    padding: 0 min(4vw, 25px) 100px;
  }
}

.category_list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  align-items: center;
  justify-content: center;
  margin-bottom: 80px;

  li {
    width: 100%;
    max-width: 140px;
    text-align: center;
    background: #f6f6f6;
    border-radius: 1000px;

    a {
      display: block;
      padding: 5px 0;
    }

    &.is-active {
      color: #fff;
      background: #0052a7;
    }
  }

  .cat-topic.is-active {
    background: #ff6494;
  }

  .cat-pr.is-active {
    background: #ff903a;
  }
}

// ---------------------------------------------
//  お知らせ　専用
// ---------------------------------------------

// 詳細ページ
.detail_page {
  padding: 0 0 100px;

  p {
    margin: 0 0 1rem;
  }

  strong {
    font-weight: bold;
  }

  h2.wp-block-heading {
    padding-left: 10px;
    margin-bottom: 60px;
    font-size: var(--fz25);
    font-weight: 800;
    color: #002669;
    border-left: solid 6px #4472c4;
  }

  ul.wp-block-list,
  ol.wp-block-list {
    padding-left: 1em;
    list-style: none; // デフォルトの記号を共通で消去

    li {
      margin-bottom: 10px;
    }
  }

  ul.wp-block-list {
    li {
      &::before {
        display: inline-block;
        margin: 0 8px 3px 0;
        font-size: 8px;
        color: #0054a4;
        vertical-align: middle;
        content: "●";
      }
    }
  }

  ol.wp-block-list {
    counter-reset: item-count;

    li {
      counter-increment: item-count;

      &::before {
        margin-right: 5px;
        font-weight: bold;
        content: counter(item-count) ". ";
      }
    }
  }

  .cat_label {
    display: block;
    width: 130px;
    padding: 5px 0;
    font-size: 16px;
    color: #0052a7;
    text-align: center;
    border: 2px solid #0052a7;
    border-radius: 10px;

    &.cat_pr {
      color: #ff903a;
      border: 2px solid #ff903a;
    }
  }

  // .detail_page--ttl
  &--ttl {
    padding-bottom: 15px;
    margin: 5px auto 15px;
    font-size: 25px;
    font-weight: bold;
    color: #767676;
    border-bottom: 4px solid rgb(28 73 122 / 28%);
  }

  // .detail_page--cat
  &--cat {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 40px;
  }
}

// ---------------------------------------------
//  導入実績　専用
// ---------------------------------------------

.introduction_page {
  // .front-news--info
  .front-news--info {
    margin-top: 10px;
  }

  // .introduction_page--txt
  &--txt {
    margin-bottom: 100px;
    text-align: center;
  }

  // .introduction_page--inner
  &--inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 60px;
    column-gap: 30px;

    img {
      width: 100%;
      aspect-ratio: 345 / 220;
      object-fit: cover;
    }

    @include max-mq {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  // .introduction_page--parent_labels
  &--parent_labels {
    color: #bbb;
  }

  // .introduction_page--child_labels
  &--child_labels {
    display: flex;
    gap: 5px;
    align-items: center;

    .child_labels {
      width: fit-content;
      padding: 3px 11px;
      font-size: var(--fz16);
      color: #fff;
      background: #063064;
      border-radius: 5px;
    }
  }
}

// ---------------------------------------------
//  お役立ち情報　専用
// ---------------------------------------------
.information_page {
  // .information_page--inner
  &--inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 60px;
    column-gap: 30px;

    p {
      font-size: var(--fz20);
      font-weight: 700;
      text-decoration: underline;
    }

    img {
      width: 100%;
      aspect-ratio: 345 / 220;
      margin-bottom: 5px;
      object-fit: cover;
    }

    @include max-mq {
      grid-template-columns: repeat(1, 1fr);
      row-gap: 30px;
      column-gap: 10px;
    }
  }
}

// ---------------------------------------------
//  よくある質問　専用
// ---------------------------------------------

.question-search {
  text-align: center;

  input {
    display: block;
    width: 100%;
    max-width: 390px;
    padding: 15px 25px;
    margin: 0 auto 40px;
    font-size: var(--fz16);
    font-weight: 800;
    text-align: center;
    border-radius: 1000px;
  }
}
