@charset "UTF-8";
@use "../variables" as *;

// ---------------------------------------------
//  お知らせ　専用
// ---------------------------------------------

.archive {
  // .archive--wrap
  &--wrap {
    width: 90%;
    padding: 20px 0 100px;
    margin: auto;
  }

  // .archive--inner
  &--inner {
    a {
      display: flex;
      gap: 30px;
      align-items: center;
      padding-bottom: 15px;
      margin-bottom: 30px;
      border-bottom: 1px solid #d1d1d1;
    }
  }
}

.detail_page {
  padding: 100px 0;

  h2 {
    padding-bottom: 15px;
    margin: 5px auto 15px;
    font-size: 25px;
    font-weight: bold;
    color: #767676;
    border-bottom: 4px solid rgb(28 73 122 / 28%);
  }

  .cat_label {
    display: block;
    width: 130px;
    padding: 5px 0;
    font-size: 16px;
    color: #0052a7;
    text-align: center;
    border: 2px solid #0052a7;
    border-radius: 10px;

    &.cat_pr {
      color: #ff903a;
      border: 2px solid #ff903a;
    }
  }

  // .detail_page--cat
  &--cat {
    margin-bottom: 40px;
  }
}


// ---------------------------------------------
//  導入実績　専用
// ---------------------------------------------

.introduction_page {
  // .front-news--info
  .front-news--info {
    margin-top: 10px;
  }

  // .introduction_page--txt
  &--txt {
    margin-bottom: 100px;
    text-align: center;
  }

  // .introduction_page--inner
  &--inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 60px;
    column-gap: 30px;

    img {
      width: 100%;
      aspect-ratio: 345 / 220;
      object-fit: cover;
    }
  }

  // .introduction_page--parent_labels
  &--parent_labels {
    color: #bbb;
  }

  // .introduction_page--child_labels
  &--child_labels {
    display: flex;
    gap: 5px;
    align-items: center;

    .child_labels {
      width: fit-content;
      padding: 3px 11px;
      font-size: var(--fz16);
      color: #fff;
      background: #063064;
      border-radius: 5px;
    }
  }
}

// ---------------------------------------------
//  お役立ち情報　専用
// ---------------------------------------------
.information_page {
  // .information_page--inner
  &--inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 60px;
    column-gap: 30px;

    p {
      font-size: var(--fz20);
      font-weight: 700;
      text-decoration: underline;
    }

    img {
      width: 100%;
      aspect-ratio: 345 / 220;
      margin-bottom: 5px;
      object-fit: cover;
    }
  }
}

// ---------------------------------------------
//  お役立ち情報　専用
// ---------------------------------------------
.service_page {
  p {
    margin-bottom: 80px;
    text-align: center;
  }

  ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, 210px);
    row-gap: 40px;
    column-gap: 15px;
    justify-content: center;
  }

  figcaption {
    font-weight: 800;
    color: #0052a7;
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 5px;
  }

  img {
    margin-bottom: 5px;
  }
}
