@charset "UTF-8";
@use "../variables" as *;

// ---------------------------------------------
//  事業内容　専用
// ---------------------------------------------

.about_lead {
  p {
    margin-bottom: 100px;
    line-height: 2;
    text-align: center;
  }

  h3 {
    padding: 7px 0 10px 55px;
    margin-bottom: 30px;
    font-size: var(--fz25);
    font-weight: 700;
    color: #fff;
    background: url(../img/business/lead_icon.png) no-repeat left 20px center / 23px, #0052a7;

    span {
      color: #fff975;
    }
  }

  li {
    font-weight: 700;

    span {
      display: inline-block;
      padding-left: 27px;
      font-weight: 400;
    }

    &:not(:last-child) {
      margin-bottom: 30px;
    }

    &::before {
      margin-right: 10px;
      font-size: 15px;
      color: #ff8000;
      vertical-align: baseline;
      content: "⚫︎";
    }
  }

  // .about_lead--item
  &--item {
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    align-items: flex-start;
    justify-content: center;

    &:not(:last-of-type) {
      margin-bottom: 60px;
    }

    @include tb-mq {
      flex-direction: column;
      gap: 30px;
      align-items: center;
    }
  }

  //.about_lead--img_pc
  &--img_pc {
    @include tb-mq {
      display: none;
    }
  }

  //.about_lead--img_sp
  &--img_sp {
    display: none;

    @include tb-mq {
      display: block;
      margin: 0 auto 30px;
    }
  }
}


.about_strong {
  ul {
    counter-reset: num;
  }

  li {
    position: relative;
    display: block;
    grid-row: auto;
    padding: 40px 30px;
    counter-increment: num;
    background: #fff;
    border: 5px solid #333;
    border-radius: 10px;
    box-shadow: 5px 5px 0 #333;

    &::before {
      position: absolute;
      top: -30px;
      left: 50%;
      padding: 5px 20px;
      font-size: var(--fz23);
      font-weight: 700;
      color: #fff;
      content: "POINT" counter(num, decimal-leading-zero);
      background: #0052a7;
      border-radius: 1000px;
      transform: translateX(-50%);
    }
  }

  img {
    margin: 0 auto 30px !important;
  }

  // .about_strong--lead
  &--lead {
    margin-bottom: 80px;
    text-align: center;
  }

  // .about_strong--inner
  &--inner {
    box-sizing: border-box;
    width: min(1250px, 100%);
    padding: 0 min(4vw, 25px);
    margin: auto;
  }
}
