@charset "UTF-8";
@use "../variables" as *;

// ---------------------------------------------
//  事業内容　専用
// ---------------------------------------------

.business_lead {
  p {
    margin-bottom: 100px;
    line-height: 2;
    text-align: center;
  }

  h3 {
    padding: 7px 20px 10px 55px;
    margin-bottom: 30px;
    font-size: var(--fz25);
    font-weight: 700;
    color: #fff;
    background: url(../img/business/lead_icon.png) no-repeat left 20px center / 23px, #0052a7;

    span {
      color: #fff975;
    }
  }

  li {
    font-weight: 700;

    span {
      display: inline-block;
      padding-left: 27px;
      font-weight: 400;
    }

    &:not(:last-child) {
      margin-bottom: 30px;
    }

    &::before {
      margin-right: 10px;
      font-size: 15px;
      color: #ff8000;
      vertical-align: baseline;
      content: "⚫︎";
    }
  }

  // .business_lead--item
  &--item {
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    align-items: flex-start;
    justify-content: center;

    &:not(:last-of-type) {
      margin-bottom: 60px;
    }

    @include tb-mq {
      flex-direction: column;
      gap: 30px;
      align-items: center;
    }
  }

  //.business_lead--img_pc
  &--img_pc {
    @include tb-mq {
      display: none;
    }
  }

  //.business_lead--img_sp
  &--img_sp {
    display: none;

    @include tb-mq {
      display: block;
      margin: 0 auto 30px;
    }
  }
}

.business_strong {
  ul {
    counter-reset: num;
  }

  li {
    position: relative;
    display: flex;
    flex-direction: column;
    grid-row: auto;
    padding: 40px 30px;
    color: #063064;
    counter-increment: num;
    background: #fff;
    border: 5px solid #333;
    border-radius: 10px;
    box-shadow: 5px 5px 0 #333;

    &::before {
      position: absolute;
      top: -30px;
      left: 50%;
      padding: 5px 20px;
      font-size: var(--fz23);
      font-weight: 700;
      color: #fff;
      content: "POINT" counter(num, decimal-leading-zero);
      background: #0052a7;
      border-radius: 1000px;
      transform: translateX(-50%);
    }
  }

  img {
    margin: 0 auto 30px !important;
  }

  .underline {
    padding: 0;
    font-size: var(--fz18);
    background-size: 100% 25px;
  }

  // .business_strong--lead
  &--lead {
    margin-bottom: 100px;
    text-align: center;
  }

  // .business_strong--inner
  &--inner {
    box-sizing: border-box;
    width: min(1250px, 100%);
    padding: 0 min(4vw, 25px);
    margin: auto;
  }

  @include tb-mq {
    ul {
      gap: 60px;
    }
  }
}

.business_plan {
  // .business_plan--list
  &--list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-bottom: 80px;

    li {
      position: relative;
      display: grid;
      grid-template-rows: subgrid;
      grid-row: span 2;
      gap: 30px;
      padding: 50px 30px 30px;
      text-align: center;
      border: 3px solid #0052a7;
      border-radius: 15px;

      &:nth-child(1) {
        background: url(../img/business/plan_num_01.png) no-repeat left 25px top / 100px;
      }

      &:nth-child(2) {
        background: url(../img/business/plan_num_02.png) no-repeat left 25px top / 100px;
      }

      &:nth-child(3) {
        background: url(../img/business/plan_num_03.png) no-repeat left 25px top / 100px;
      }

      img {
        display: block;
        margin: auto;
      }

      span {
        position: absolute;
        top: -21px;
        left: 50%;
        width: 100%;
        max-width: 235px;
        padding: 5px 42px;
        font-size: var(--fz20);
        font-weight: 800;
        color: #fff;
        background: #0052a7;
        border-radius: 1000px;
        transform: translateX(-50%);
      }
    }

    + p {
      margin-bottom: 40px;
      text-align: center;
    }

    @include tb-mq {
      grid-template-columns: repeat(1, 1fr);
      gap: 60px;
    }
  }

  // .business_plan--support
  &--support {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    max-width: 515px;
    margin: 0 auto 60px;

    li {
      padding-top: 160px;
      font-weight: 800;
      text-align: center;

      &:nth-child(1) {
        background: url(../img/business/plan_remote.png) no-repeat center top / contain;
      }

      &:nth-child(2) {
        background: url(../img/business/plan_visit.png) no-repeat center top / contain;
      }

      &:nth-child(3) {
        background: url(../img/business/plan_tel.png) no-repeat center top / contain;
      }
    }
  }

  // .business_plan--link
  &--link {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    width: 100%;
    max-width: 830px;
    margin: auto;

    a {
      position: relative;
      box-sizing: border-box;
      display: block;
      padding: 15px 0 15px 130px;
      font-size: var(--fz23);
      font-weight: 800;
      line-height: 1.3;
      color: #0052a7;
      background: url(../img/business/remote_icon.png) no-repeat left 10px center / 70px, linear-gradient(to right, #063064 0%, #063064 24%, transparent 20%, transparent 100%);
      border: 5px solid #063064;
      border-radius: 5px;

      &::after {
        position: absolute;
        top: 50%;
        right: 10px;
        content: "";
        border: 10px solid transparent;
        border-left: 15px solid #0052a7;
        transform: translateY(-50%);
      }

      &:last-of-type {
        background: url(../img/business/qa_icon.png) no-repeat left 10px center / 70px, linear-gradient(to right, #063064 0%, #063064 24%, transparent 20%, transparent 100%);
      }
    }

    span {
      font-size: var(--fz18);
      color: #333;
    }

    @include max-mq {
      grid-template-columns: repeat(1, 1fr);

      a {
        width: 100%;
        max-width: 430px;
        padding: 15px 0 15px 5em;
        margin: auto;
        background: url(../img/business/remote_icon.png) no-repeat left 8px center / 65px, linear-gradient(to right, #063064 0%, #063064 80px, transparent 80px, transparent 100%);

        &:last-of-type {
          background: url(../img/business/qa_icon.png) no-repeat left 8px center / 65px, linear-gradient(to right, #063064 0%, #063064 80px, transparent 80px, transparent 100%);
        }
      }
    }
  }
}

.business_flow {
  p {
    margin-bottom: 100px;
    text-align: center;
  }

  ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }

  li {
    position: relative;
    padding: 40px 30px;
    background: #fff;
    border: 5px solid #333;
    border-radius: 10px;
    box-shadow: 5px 5px 0 #333;

    &:nth-child(1) {
      dt {
        span {
          &:first-child {
            padding: 0 30px;
            background: url(../img/business/flow_icon_01.png) no-repeat left 0 top 3px / 22px;
          }
        }
      }
    }

    &:nth-child(2) {
      dt {
        span {
          &:first-child {
            padding: 0 30px;
            background: url(../img/business/flow_icon_02.png) no-repeat left 0 top 3px / 22px;
          }
        }
      }
    }

    &:nth-child(3) {
      dt {
        span {
          &:first-child {
            padding: 0 30px;
            background: url(../img/business/flow_icon_03.png) no-repeat left 0 top 3px / 22px;
          }
        }
      }
    }
  }

  img {
    display: block;
    margin: 0 auto 30px;
  }

  dt {
    display: grid;
    place-content: center;
    place-items: center;
    justify-content: center;
    padding: 0 5px;
    margin: 0 auto 15px;
    color: #0052a7;

    span {
      &:first-child {
        font-size: var(--fz20);
        font-weight: 800;
      }

      &:last-child {
        font-size: var(--fz14);
        font-weight: 600;
      }
    }
  }

  dd {
    font-size: var(--fz16);
    line-height: 1.8;
    text-align: center;
  }

  // .business_flow--step
  &--step {
    position: absolute;
    top: -25px;
    left: 50%;
    display: block;
    padding: 5px 39px;
    font-size: var(--fz23);
    font-weight: 800;
    color: #fff;
    text-align: center;
    background: #0052a7;
    border-radius: 1000px;
    transform: translateX(-50%);

    span {
      margin-left: 5px;
      font-size: var(--fz30);
      line-height: 1;
      color: #fff975;
    }
  }

  @include tb-mq {
    ul {
      grid-template-columns: repeat(1, 1fr);
      gap: 60px;
    }
  }
}

