@charset "UTF-8";
@use "../variables" as *;

// ---------------------------------------------
//  会社概要　専用
// ---------------------------------------------

.company_about {
  p {
    margin-bottom: 80px;
    text-align: center;
  }

  table {
    max-width: 800px;
    margin: 0 auto 80px;
  }

  ul {
    width: fit-content;
    margin: 0 auto 60px;
  }

  tr {
    &:first-child {
      th {
        border-top: 1px solid #0052a7;
      }
    }

    &:nth-child(8) {
      td {
        padding: 20px 0 20px 20px;
        line-height: 2;
      }
    }

    &:last-child {
      th {
        border-bottom: 1px solid #0052a7;
      }

      td {
        border-bottom: 1px solid #063064;
      }
    }
  }

  th {
    box-sizing: border-box;
    width: 210px;
    padding: 15px 0;
    color: #fff;
    background: #0052a7;
    border-bottom: 1px solid #fff;
  }

  td {
    padding: 15px 0 15px 20px;
    border-top: 1px solid #063064;
    border-right: 1px solid #063064;
  }

  img {
    display: block;
    margin: auto;
  }

  @include max-mq {
    th {
      display: block;
      width: 100%;
    }

    td {
      display: block;
      padding: 15px 20px;
      border-top: none;
      border-left: 1px solid #063064;
    }
  }
}

.company_access {
  a {
    display: block;
    width: fit-content;
    padding: 11px 30px;
    margin: 0 auto 60px;
    font-weight: 700;
    color: #fff;
    text-decoration: underline;
    background: #0052a7;
    border-radius: 1000px;
  }

  dt {
    padding-left: 10px;
    margin-bottom: 30px;
    font-weight: 700;
    border-left: 5px solid #0052a7;
  }

  dd {
    &:first-of-type {
      margin-bottom: 60px;
    }
  }

  li {
    padding-left: 30px;
    text-indent: -28px;

    &:first-child {
      margin-bottom: 15px;
    }

    &::before {
      margin-right: 10px;
      font-size: 15px;
      color: #ff8000;
      vertical-align: baseline;
      content: "⚫︎";
    }
  }

  iframe {
    width: 45%;
    aspect-ratio: 530 / 436;
  }

  // .company_access--inner
  &--inner {
    box-sizing: border-box;
    width: min(1450px, 100%);
    padding: 80px min(4vw, 25px);
    margin: auto;
    background: #fff;
  }

  // .company_access--info
  &--info {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
  }

  @include max-mq {
    iframe {
      width: 100%;
    }
  }
}

.company_date {
  img {
    display: block;
    margin: 0 auto 30px;
  }

  p {
    margin-bottom: 40px;
    line-height: 1.9;
    text-align: center;
  }

  // .company_date--list
  &--list {
    width: fit-content;
    margin: auto;
    font-weight: 700;
    color: #0052a7;

    li {
      &:not(:last-child) {
        margin-bottom: 15px;
      }

      &::before {
        display: inline-block;
        width: 20px;
        aspect-ratio: 14 / 11;
        content: "";
        background: url(../img/company/checkbox.png) no-repeat left center / contain;
      }
    }

    @include max-mq {
      li {
        padding-left: 25px;
        text-indent: -25px;
      }
    }
  }

  // .company_date--partners
  &--partners {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: baseline;
    justify-content: center;
  }
}

.company_message {
  p {
    margin-bottom: 80px;
    font-size: var(--fz23);
    text-align: center;
  }

  dl {
    &:not(:last-child) {
      margin-bottom: 80px;
    }
  }

  dd {
    text-align: center;
  }

  strong {
    display: block;
    text-align: center;
  }

  // .company_message--logo
  &--logo {
    display: block;
    width: 40%;
    margin: 0 auto 40px;
    object-fit: cover;

    @include max-mq {
      width: 80%;
    }
  }

  // .company_message--illust
  &--illust {
    display: block;
    margin: 0 auto;
  }

  @include max-mq {
    p {
      margin-bottom: 80px;
      font-size: var(--fz20);
    }
  }
}
