@charset "UTF-8";
@use "../variables"as *;

// ---------------------------------------------
//  contact_importフォルダを読み込む
// ---------------------------------------------

// contact form
@forward "../import/form";

// エラーメッセージ用ツールチップ
@forward "../import/form-tooltip";

// ---------------------------------------------
//  contact用の追加クラス
// ---------------------------------------------


.contact_corporate {
  p {
    line-height: 1.9;
    text-align: center;
  }

  .header--btn {
    justify-content: center;
    margin-top: 60px;
  }

  .header--tel {
    width: 100%;
    max-width: 345px;
    font-size: 35px;
    font-weight: 800;

    span {
      font-size: var(--fz16);
    }
  }
}

#loading {
  display: none;
}

.thanks {
  padding: 20px;
  font-size: var(--fz18);
  text-align: center;
}
