@charset "UTF-8";
@use "../variables"as *;

// ---------------------------------------------
//  contact_importフォルダを読み込む
// ---------------------------------------------

// contact form
@forward "../import/form";

// エラーメッセージ用ツールチップ
@forward "../import/form-tooltip";

// ---------------------------------------------
//  contact用の追加クラス
// ---------------------------------------------


.contact_page {
  .container {
    padding: 80px min(4vw, 25px);
    background: #fff;
  }

  & .-confirm {
    @include max-mq {
      .eyecatch h1 {
        top: 25%;
      }
    }
  }
}

.contact_corporate {
  p {
    line-height: 1.9;
    text-align: center;
  }

  .header--btn {
    justify-content: center;
    margin-top: 30px;
  }

  .header--tel {
    width: 100%;
    max-width: 345px;
    font-size: 35px;
    font-weight: 800;

    span {
      font-size: var(--fz16);
    }
  }



  // .contact_corporate--consent
  &--consent {
    margin-bottom: 60px;
    text-align: center;

    a {
      font-weight: 800;
      color: #f90;
      border-bottom: 1px solid #f90;
    }
  }

  // .contact_corporate--tel
  &--tel {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
    font-size: var(--fz25);
    font-weight: 900;
    color: #0052a7;

    a {
      padding-left: 45px;
      font-size: var(--fz40);
      background: url(../img/contact/tel.png) no-repeat left center / 35px;

      &:last-of-type {
        background: url(../img/contact/fax.png) no-repeat left center / 35px;
      }
    }

    @include max-mq {
      a {
        padding-left: 30px;
        font-size: var(--fz35);
        background: url(../img/contact/tel.png) no-repeat left center / 25px;

        &:last-of-type {
          background: url(../img/contact/fax.png) no-repeat left center / 25px;
        }
      }
    }
  }

  // .contact_corporate--time
  &--time {
    display: block;
    margin-top: 15px;
    font-size: var(--fz25);
    font-weight: 600;
    color: #333;

    span {
      padding: 5px 15px;
      margin-right: 10px;
      font-size: var(--fz21);
      color: #fff;
      vertical-align: text-bottom;
      background: #0052a7;
      border-radius: 5px;
    }
  }

  // .contact_corporate--time
  &--totop {
    display: block;
    width: fit-content;
    margin: 40px auto 0;
    text-decoration: underline;
  }
}
