@charset "UTF-8";
@use "../variables"as *;

// ---------------------------------------------
//  contact_importフォルダを読み込む
// ---------------------------------------------

// contact form
@forward "../import/form";

// エラーメッセージ用ツールチップ
@forward "../import/form-tooltip";

// ---------------------------------------------
//  contact用の追加クラス
// ---------------------------------------------


.contact_corporate {
  p {
    line-height: 1.9;
    text-align: center;
  }

  .header--btn {
    justify-content: center;
    margin-top: 60px;
  }

  .header--tel {
    width: 100%;
    max-width: 345px;
    font-size: 35px;
    font-weight: 800;

    span {
      font-size: var(--fz16);
    }
  }

  // .contact_corporate--consent
  &--consent {
    margin-bottom: 60px;
    text-align: center;

    a {
      font-weight: 800;
      color: #f90;
      border-bottom: 1px solid #f90;
    }
  }

  // .contact_corporate--tel
  &--tel {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
    font-size: var(--fz25);
    font-weight: 900;
    color: #0052a7;

    a {
      padding-left: 45px;
      font-size: var(--fz40);
      background: url(../img/contact/tel.png) no-repeat left center / 35px;

      &:last-of-type {
        background: url(../img/contact/fax.png) no-repeat left center / 35px;
      }
    }
  }

  // .contact_corporate--time
  &--time {
    display: block;
    margin-top: 15px;
    font-size: var(--fz25);
    font-weight: 600;
    color: #333;

    span {
      padding: 5px 15px;
      margin-right: 10px;
      font-size: var(--fz21);
      color: #fff;
      vertical-align: text-bottom;
      background: #0052a7;
      border-radius: 5px;
    }
  }
}

#loading {
  display: none;
}

.thanks {
  padding: 20px;
  font-size: var(--fz18);
  text-align: center;
}
