@charset "UTF-8";
@use "../variables" as *;

// ---------------------------------------------
//  404ページ専用
// ---------------------------------------------
.notfound_page {
  padding: 0 min(4vw, 25px) 120px;

  .ttl + p {
    margin-bottom: 60px;
    text-align: center;
  }

  .container {
    padding: 80px min(4vw, 25px);
    background: #fff;
  }
}
