@charset "UTF-8";
@use "../variables" as *;

// ---------------------------------------------
//  リモートサポート　専用
// ---------------------------------------------

.remote_page {
  p {
    margin-bottom: 60px;
    text-align: center;
  }

  img {
    display: block;
    margin: 0 auto 60px;
  }
}
