@charset "UTF-8";
@use "../variables" as *;

// ---------------------------------------------
//  トップ専用
// ---------------------------------------------


.mv {
  position: relative;
  height: 100vh;

  h2 {
    position: absolute;
    top: 50%;
    left: 6%;
    font-size: var(--fz160);
    font-weight: 900;
    line-height: 1.4;
    color: #fff;
    text-shadow: 0 0 30px rgb(255 255 255 / 90%);
    letter-spacing: 0.1em;
    transform: translate(0%, -80%);

    span {
      display: block;
      font-size: var(--fz65);
    }
  }
}

.mv_scroll {
  position: relative;
  min-height: 100vh;
  padding-top: 8rem;
  margin: 0 auto;

  // .mv_scroll--inner
  &--inner {
    .mv_scroll--left {
      position: absolute;
      top: 0;
      left: 0;
      width: 50%;
      height: 100%;
      overflow: hidden;

      p {
        left: 200%;
        color: #208fff;
      }
    }

    .mv_scroll--right {
      position: absolute;
      top: 0;
      right: 0;
      width: 50%;
      height: 100%;
      overflow: hidden;

      p {
        left: 100%;
        color: #fff;
      }
    }

    p {
      position: absolute;
      bottom: 10%;
      width: auto;
      font-family: "Michroma", sans-serif;
      font-size: 14rem;
      font-weight: 900;
      white-space: nowrap;
      animation: animate 2800s linear infinite;
    }
  }
}

/* アニメーションキーフレーム */
@keyframes animate {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-300%);
  }
}

.mv_parallax_bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  overflow: hidden;

  video {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    width: 177.77777778vh;
    min-width: 100%;
    height: 56.25vw;
    min-height: 100%;
    filter: brightness(70%);
    transform: translate(-50%, -50%);
  }
}

.lead_worry {
  h2 {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 60px;
    font-size: var(--fz45);
    font-weight: 800;
    line-height: 1.3;

    &::before,
    &::after {
      width: 3px;
      height: 50px;
      content: "";
      background-color: #f11f8d;
    }

    &::before {
      margin-right: 30px;
      transform: rotate(-30deg);
    }

    &::after {
      margin-left: 30px;
      transform: rotate(30deg);
    }
  }

  ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }

  li {
    padding: 170px 0 30px;
    font-size: var(--fz23);
    font-weight: 700;
    text-align: center;
    background: #fff 0% 0% no-repeat padding-box;
    border: 3px solid #0052a7;
    border-radius: 10px;
    box-shadow: 0 0 15px #3db6ff40;

    &:nth-child(1) {
      background: url(../img/top/worry_01.png) no-repeat top 20px center / 55%;
    }

    &:nth-child(2) {
      background: url(../img/top/worry_02.png) no-repeat top 20px center / 55%;
    }

    &:nth-child(3) {
      background: url(../img/top/worry_03.png) no-repeat top 20px center / 55%;
    }
  }
}

.lead_solution {
  padding: 120px 0 250px;

  strong {
    display: block;
    width: fit-content;
    padding: 5px 30px;
    margin: 10px auto;
    font-size: var(--fz45);
    font-weight: bold;
    color: #fff;
    background: #0052a7;

    span {
      color: #fff975;
    }
  }

  p {
    text-align: center;
  }

  .container {
    &.-sm {
      padding: 0 min(4vw, 25px) 300px;
      background: url(../img/top/solution_bg.png) no-repeat top 300px center / contain, #fff;

      + img {
        position: absolute;
        bottom: -200px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  // .lead_solution--ttl
  &--ttl {
    position: relative;

    h2 {
      position: relative;
      z-index: 1;
      margin-bottom: 60px;
      font-size: var(--fz50);
      font-weight: 900;
      text-align: center;

      + img {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 0;
        transform: translate(-50%, -50%);
      }
    }

    p {
      width: fit-content;
      padding: 5px 15px;
      margin: 0 auto 15px;
      font-size: var(--fz30);
      font-weight: bold;
      color: #fff;
      background: #0052a7;

      span {
        color: #fff975;
        border-bottom: none;
      }
    }

    span {
      color: #ff3198;
      border-bottom: 2px solid #ff3198;
    }
  }

  // .lead_solution--logo
  &--logo {
    margin-right: 10px;
    vertical-align: baseline;
  }

  // .lead_solution--inner
  &--inner {
    position: relative;
    padding: 80px 0;
    background: #fff;
  }

  // .lead_solution--txt
  &--txt {
    margin-bottom: 60px;

    span {
      display: block;
      width: fit-content;
      padding: 10px 20px;
      margin: 0 auto 30px;
      font-size: var(--fz23);
      color: #fff;
      background: #063064;
    }
  }
}

.attention {
  text-align: center;

  // .attention--inner
  &--inner {
    position: relative;
    box-sizing: border-box;
    width: min(950px, 100%);
    padding: 60px 0;
    margin: auto;
    background: #fff;
    border: 3px solid #ff3198;
    border-radius: 15px;

    p {
      margin-bottom: 30px;
    }

    img {
      border: 10px solid #e6e6e6;
    }

    &::before,
    &::after {
      position: absolute;
      display: inline-block;
      content: "";
    }

    &::before {
      bottom: -100px;
      left: -80px;
      width: 218px;
      height: 473px;
      background: url(../img/top/solution_left.png) no-repeat left center/contain;
    }

    &::after {
      right: -80px;
      bottom: -100px;
      width: 199px;
      height: 486px;
      background: url(../img/top/solution_right.png) no-repeat left center/contain;
    }
  }
}

.feature {
  h3 {
    width: fit-content;
    padding: 0 15px 5px;
    margin: auto;
    font-size: var(--fz23);
    font-weight: 800;
    color: #063064;
    border-bottom: 2px dashed #063064;

    +p {
      margin-top: -10px;
      margin-bottom: -15px;
    }
  }

  ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-bottom: 100px;
  }

  li {
    box-sizing: border-box;
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 5;
    padding: 30px;
    text-align: center;
    background: #fff;
    border: 5px solid #333;
    border-radius: 15px;
    box-shadow: 5px 5px 0 #333;
  }

  p {
    + img {
      display: block;
      margin: auto;
    }
  }

  // .feature--inner
  &--inner {
    position: relative;
    width: fit-content;
    padding-bottom: 80px;
    margin: 0 auto;

    p {
      text-align: center;

      &:first-child {
        margin-bottom: 15px;
      }
    }

    strong {
      display: block;

      &:last-of-type {
        margin-bottom: 15px;
      }
    }

    &::before,
    &::after {
      position: absolute;
      display: inline-block;
      content: "";
    }

    &::before {
      top: 50%;
      left: -140px;
      width: 131px;
      aspect-ratio: 131/ 196;
      background: url(../img/top/feature_possible_01.png) no-repeat center center /contain;
      transform: translateY(-50%);
    }

    &::after {
      top: 50%;
      right: -120px;
      width: 110px;
      aspect-ratio: 110/ 186;
      background: url(../img/top/feature_possible_02.png) no-repeat center center /contain;
      transform: translateY(-50%);
    }

    + img {
      position: relative;
      display: block;
      margin: -92px auto 60px;
    }
  }
}

.reason {
  position: relative;
  padding: 120px 0 340px;

  h3 {
    font-size: var(--fz30);
    font-weight: 700;
    color: #0052a7;
  }

  ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    counter-reset: num;
  }

  li {
    position: relative;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 5;
    padding: 60px 30px 30px;
    text-align: center;
    counter-increment: num;
    background: #fff;

    span {
      color: #ff8000;
    }

    img {
      display: block;
      margin: auto;
    }

    &::before {
      position: absolute;
      top: -30px;
      left: 50%;
      padding: 5px 20px;
      font-size: var(--fz30);
      font-weight: 700;
      color: #fff;
      content: "POINT" counter(num, decimal-leading-zero);
      background: #063064;
      transform: translateX(-50%);
    }
  }

  // .reason--lead
  &--lead {
    margin-bottom: 100px;
    text-align: center;
  }
}

.cv_area {
  position: absolute;
  bottom: -16%;
  left: 50%;
  width: 100%;
  max-width: 900px;
  color: #fff;
  text-align: center;
  transform: translate(-50%, 0);

  h2 {
    position: relative;
    display: inline-block;
    padding: 10px 30px;
    margin: 0 15px;
    font-size: var(--fz25);

    b {
      position: relative;
      display: inline-block;
      padding: 5px 20px;
      margin: 0 15px;
      font-size: var(--fz35);

      &::before,
      &::after {
        position: absolute;
        display: inline-block;
        width: 20px;
        height: 25px;
        content: "";
      }

      &::before {
        top: 0;
        left: 0;
        border-top: 5px solid #fff975;
        border-left: 5px solid #fff975;
      }

      &::after {
        right: 0;
        bottom: 0;
        border-right: 5px solid #fff975;
        border-bottom: 5px solid #fff975;
      }
    }
  }

  span {
    display: inline-block;
    padding: 10px 20px;
    margin-bottom: 40px;
    border: 1px solid #fff;
    border-radius: 5px;
  }

  //.cv_area--lead
  &--lead {
    position: relative;
    margin-bottom: 15px;
    text-align: center;

    &::before,
    &::after {
      position: absolute;
      top: 20px;
      display: inline-block;
      content: "";
    }

    &::before {
      left: 10%;
      width: 100px;
      aspect-ratio: 1 / 1;
      background: url(../img/top/cvarea_01.png) no-repeat center /contain;
    }

    &::after {
      right: 10%;
      width: 100px;
      aspect-ratio: 1 / 1;
      background: url(../img/top/cvarea_02.png) no-repeat center /contain;
    }
  }

  // .cv_area--inner
  &--inner {
    position: relative;
    box-sizing: border-box;
    padding: 70px min(4vw, 25px);
    margin: auto;
    background: url(../img/top/cvarea_bg.jpg) no-repeat center / cover;
    border-radius: 15px;

    &::after {
      position: absolute;
      top: 20px;
      right: 20px;
      bottom: 20px;
      left: 20px;
      content: "";
      border: 3px solid #fff;
      border-radius: 15px;
    }
  }

  // .cv_area--mail
  &--mail {
    box-sizing: border-box;
    display: inline-block;
    width: 240px;
    padding: 15px 15px 15px 45px;
    background: url(../img/common/icon_mail.png) no-repeat left 10% center / 11%, #f9a731;
    border-radius: 1000px;
  }

  // .cv_area--tel
  &--tel {
    box-sizing: border-box;
    display: inline-block;
    width: 240px;
    padding: 15px 15px 15px 45px;
    background: url(../img/common/icon_tel_02.png) no-repeat left 10% center / 11%, #31c2f9;
    border-radius: 1000px;
  }
}

.service {
  padding: 340px 0 120px;

  p {
    margin-bottom: 80px;
    text-align: center;
  }

  ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px;
    margin-bottom: 80px;
  }

  li {
    font-weight: 700;
    color: #0052a7;
    text-align: center;
  }

  figcaption {
    text-decoration: underline;
    text-underline-offset: 10px;
  }

  img {
    margin-bottom: 15px;
  }
}



.work {
  // .work--lead
  &--lead {
    margin-bottom: 80px;
    text-align: center;
  }

  // .work--inner
  &--inner {
    position: relative;
    margin-bottom: 140px;
  }

  .post-thumbnail {
    img {
      width: 100%;
      aspect-ratio: 400 / 350;
      border-radius: 15px;
      object-fit: cover;
    }
  }

  .swiper-slide {
    opacity: 0.3; /* 左右のスライドを薄くする */
    transition: 0.7s; /* ゆっくり小さくさせる */
    transform: scale(0.8); /* 左右のスライドを小さくする */
  }

  .swiper-slide-active {
    z-index: 1; /* 中央のスライドを一番上にする */
    opacity: 1; /* 中央のスライドは薄くしない */
    transform: scale(1); /* 中央のスライドは小さくしない */
  }

  .swiper-pagination {
    bottom: -45px !important;
  }
}
