@charset "UTF-8";
@use "../variables" as *;

// ---------------------------------------------
//  トップ専用
// ---------------------------------------------


.mv {
  position: relative;
  height: 100vh;

  h2 {
    position: absolute;
    top: 50%;
    left: 6%;
    font-size: 90px;
    font-weight: 900;
    line-height: 1.4;
    color: #fff;
    text-shadow: 0 0 30px rgb(255 255 255 / 43.9%);
    letter-spacing: 0.1em;
    transform: translate(0%, -80%);

    span {
      display: block;
      font-size: 45px;
    }
  }
}

.mv_scroll {
  position: relative;
  min-height: 100vh;
  padding-top: 8rem;
  margin: 0 auto;

  // .mv_scroll--inner
  &--inner {
    .mv_scroll--left {
      position: absolute;
      top: 0;
      left: 0;
      width: 50%;
      height: 100%;
      overflow: hidden;

      p {
        left: 200%;
        color: #208fff;
      }
    }

    .mv_scroll--right {
      position: absolute;
      top: 0;
      right: 0;
      width: 50%;
      height: 100%;
      overflow: hidden;

      p {
        left: 100%;
        color: #fff;
      }
    }

    p {
      position: absolute;
      bottom: 10%;
      width: auto;
      font-family: "Michroma", sans-serif;
      font-size: 14rem;
      font-weight: 900;
      white-space: nowrap;
      animation: animate 2800s linear infinite;
    }
  }
}

/* アニメーションキーフレーム */
@keyframes animate {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-300%);
  }
}

.mv_parallax_bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  overflow: hidden;

  video {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    width: 177.77777778vh;
    min-width: 100%;
    height: 56.25vw;
    min-height: 100%;
    filter: brightness(70%);
    transform: translate(-50%, -50%);
  }
}

.lead_worry {
  h2 {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 60px;
    font-size: var(--fz45);
    font-weight: 800;
    line-height: 1.3;

    &::before,
    &::after {
      width: 3px;
      height: 50px;
      content: "";
      background-color: #f11f8d;
    }

    &::before {
      margin-right: 30px;
      transform: rotate(-30deg);
    }

    &::after {
      margin-left: 30px;
      transform: rotate(30deg);
    }
  }

  ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }

  li {
    padding: 170px 0 30px;
    font-size: var(--fz23);
    font-weight: 700;
    text-align: center;
    background: #fff 0% 0% no-repeat padding-box;
    border: 3px solid #0052a7;
    border-radius: 10px;
    box-shadow: 0 0 15px #3db6ff40;

    &:nth-child(1) {
      background: url(../img/top/worry_01.png) no-repeat top 20px center / 55%;
    }

    &:nth-child(2) {
      background: url(../img/top/worry_02.png) no-repeat top 20px center / 55%;
    }

    &:nth-child(3) {
      background: url(../img/top/worry_03.png) no-repeat top 20px center / 55%;
    }
  }
}

.lead_solution {
  padding: 120px 0 250px;

  strong {
    display: block;
    width: fit-content;
    padding: 5px 30px;
    margin: 10px auto;
    font-size: var(--fz45);
    font-weight: bold;
    color: #fff;
    background: #0052a7;

    span {
      color: #fff975;
    }
  }

  p {
    text-align: center;
  }

  .container {
    &.-sm {
      padding: 0 min(4vw, 25px) 300px;
      background: url(../img/top/solution_bg.png) no-repeat top 300px center / contain, #fff;

      + img {
        position: absolute;
        bottom: -200px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  // .lead_solution--ttl
  &--ttl {
    position: relative;

    h2 {
      position: relative;
      z-index: 1;
      margin-bottom: 60px;
      font-size: var(--fz50);
      font-weight: 900;
      text-align: center;

      + img {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 0;
        transform: translate(-50%, -50%);
      }
    }

    p {
      width: fit-content;
      padding: 5px 15px;
      margin: 0 auto 15px;
      font-size: var(--fz30);
      font-weight: bold;
      color: #fff;
      background: #0052a7;

      span {
        color: #fff975;
        border-bottom: none;
      }
    }

    span {
      color: #ff3198;
      border-bottom: 2px solid #ff3198;
    }
  }

  // .lead_solution--logo
  &--logo {
    margin-right: 10px;
    vertical-align: baseline;
  }

  // .lead_solution--inner
  &--inner {
    position: relative;
    padding: 80px 0;
    background: #fff;
  }

  // .lead_solution--txt
  &--txt {
    p {
      width: fit-content;
      padding: 0 10px;
      margin: auto;
      font-size: var(--fz35);
      font-weight: 900;
      color: #0052a7;
      background: linear-gradient(to bottom, transparent 0%, transparent 70%, #fff100 70%, #fff100 100%);

      &:last-child {
        margin: 0 auto 60px;
      }
    }

    span {
      display: block;
      width: fit-content;
      padding: 10px 20px;
      margin: 0 auto 30px;
      font-size: var(--fz23);
      color: #fff;
      background: #063064;
    }
  }
}

